[2015-11-18 16:56] sandinak opened #2 "100 chars is too short for spec files"
I have paths and other tests that end up being longer than 100 characters.  For instance
'''
pec/entity_spec.rb:68:100: C: Line is too long. [116/99]
describe file('/ xxx/xxxxx/xxxxxx/xxxx_xx/xxxx/xxx/xxxxxx/xxx/xxxxxxxx-xx/ssl/xxxxxxxx.xxxxxxxxxx.xx.xxxxxxxxx.xx.crt') do
                                                                                                   ^^^^^^^^^^^^^^^^^
spec/entit

[2015-11-19 00:13] retr0h commented on #2
Unfortunately, no matter what number we pick here, someone will not like it.  [RuboCop](http://batsov.com/rubocop/), has adopted the community driven [Ruby Style Guide](https://github.com/bbatsov/ruby-style-guide).  However, I do not see anything specific to line length numbers in the spec.

Since these [cops](https://github.com/bbatsov/rubocop#cops) can be changed or disabled, feel free to submit

[2015-11-19 01:37] retr0h commented on #2
Actually let me think this over.  Rubocop, will probably only search for a `.rubocop.yml` form the current directory.

[2015-11-19 01:40] retr0h commented on #2
I'm leaning towards having the user manually create a `.rubocop.yml` that meets their requirements around linting vs us managing a default one.

So if you don't like the long lines, I suggest creating a `.rubocop.yml` with something like the following in the base of your role.

[code]

[2015-11-19 06:03] #2 closed

[2015-11-19 14:09] sandinak commented on #2
I've done this to get the role working .. however i think that many people will have paths that will require this setting and this fix is a bit nebulous .. i'd recommend disabling it entirely as the constraint isn't useful to this application.

[2015-11-19 15:13] retr0h commented on #2
I don't have a problem with this.  I actually like this requirement.  However, if people don't they can disable just as you did.

[2015-11-19 15:30] dhutty commented on #2
Please add a note about this to the molecule docs – or even just a link to an existing discussion of .rubocop.yml. Perhaps we should have a Tips/Conveniences section (both for molecule directly and for the tools molecule uses: rubocop in this case, but also, serverspec/testinfra/vagrant/etc). Since the whole point of molecule is to reduce the barrier for testing Ansible roles as part of the develo

[2015-11-20 03:06] retr0h opened #9 "Move off the Vagrant OpenStack provider"
Supporting multiple providers will become fairly cumbersome inside the Vagrantfile.  We need to error on the side of simplicity, and keep the `Vagrantfile` as simple as possible.

This issue is to move the OpenStack provider out of Vagrant, and into a pure Ansible playbook leveraging OpenStack.

[2015-11-29 14:28] philpep opened #21 "Testinfra integration"
Hi, I'm the author of testinfra and I'm pretty happy to see you integrate it in molecule.

Recently I added ansible helpers into testinfra:

- https://testinfra.readthedocs.org/en/latest/backends.html#ansible
- https://testinfra.readthedocs.org/en/latest/modules.html#ansible

Using ansible backend will allow you to use your existing ansible configuration (inventory, host, user, password, sudo, ssh

[2015-12-01 09:12] oserde opened #24 "Testinfra ssh"
Hi, I think there is an issue in core.py. When using testinfra, tests are not executed on the vagrant machine, because when calling testinfra no hosts are specified. So tests are executed on the host machine.

[2015-12-01 13:11] oserde commented on #24
Ok. Reading the issue created by philpep I understand that you have to specify hosts in the test file. Anyway, including the hosts parameter to the sh.testinfra call could be useful.

[2015-12-01 13:11] #24 closed

[2015-12-01 15:56] retr0h commented on #24
@oserde Yeah, I would like to handle the testinfra host sections better in general.  Truthfully, most of our tests are in serverspec at the moment, and figured `testinfra_hosts` inside each test would mostly suffice.

[2015-12-01 16:32] retr0h commented on #21
@philpep Awesome, thanks for adding this backend.  We will take a look and incorporate.

[2015-12-02 21:00] #21 closed

[2015-12-18 16:37] bborysenko opened #52 "Ansible inventory doesn't created during converge"
Hi, it has been broken with 1.1.1.

[code]

I suppose due to:

<https://github.com/metacloud/molecule/blob/46a6e28/molecule/commands.py#L143>

[2015-12-18 16:59] abrown-sg commented on #52
Ah, I see the issue. Create writes the state file showing the machines are running, but since it doesn't call  converge, the inventory file doesn't get created.  I'll get a fix out for this shortly.

In the meantime, if you create your machines on the first run by using `converge` instead of `create` it will work as expected.

[2015-12-18 22:12] #52 closed

[2015-12-18 23:24] sandinak opened #54 "1.1.2 - molecule verify gives ruby ssh error"
This is relevant to the conversion from pre-1.0 molecule to 1.1.2,  I have been re-writing molecule_playbook.yml into molecule.yml and playbook.yml.   I also removed the old .molecule and Vagrant files to clean up.  With the update to 1.1.2 I am now getting the included error, yet molecule login works fine.  Not sure where the problem exists.

*** Run serverspec on vagrant1-ubuntu instance ***
/Sy

[2015-12-19 01:52] retr0h commented on #54
I've has problems where serverspec wasn't connecting right.

    $ molecule destroy
    $ rm -rf .vagrant .molecule
    $ molecule converge

[2015-12-21 00:18] apenney opened #57 "Ability to merge in existing group_vars?"
First, hey guys, glad to see ansible is working out @dhutty !

I stumbled over this today and decided to play around with it, but quickly ran into a problem.  The problem is almost none of my roles is standalone, and they all require a playbook called all.yml to be run first (to setup docker, etc).

That playbook really, really, wants group_vars/all/ available in the ansible-playbook run because I

[2015-12-21 00:45] apenney commented on #57
Given that symlinking `ln -s ../../group_vars .` is enough to get this working I'm thinking I'll either leave a symlink for every role or rig up some ugly code that allows me to set a group_vars location in molecule.yml and then symlinks it before ansible-playbook and removes it after.

Not pretty but viable.

Also, with this change my etcd role works flawlessly in molecule but is broken in test-k

[2015-12-21 00:52] retr0h commented on #57
@apenney Good to hear you have checked this out.  I too have an [etcd role](https://github.com/retr0h/ansible-etcd) which molecule tests. LOL

[2015-12-21 00:58] retr0h commented on #57
@apenney Normally, the roles are tested in isolation.  However, there are also cases where you want to test roles work in conjunction with other roles, and pointed to real inventory (aka hostvars/groupvars). We do this quite a bit, testing all of our openstack roles together.  [This](http://molecule.readthedocs.org/en/master/usage.html#using-molecule-for-deployment) should accomplish what you desi

[2015-12-21 14:46] sandinak commented on #54
Tried that before and again just now .. no joy.

[2015-12-21 17:49] retr0h opened #58 "Don't lint template/ files/ dirs"
We lint the entire role, which we probably shouldn't do.  Sure trailing white spaces and new lines suck, and should't exist in the ansible yml files, but there may be valid cases for them in the artifacts ansible creates.

Lets not lint templates/ and files/ dir, or maybe we only lint files that end in yml?

[2015-12-21 23:06] #58 closed

[2015-12-22 21:59] #57 closed

[2015-12-22 22:00] retr0h opened #63 "Vagrant 1.8 support"
Verify molecule works properly with the release of [Vagrant 1.8](https://www.hashicorp.com/blog/vagrant-1-8.html).

[2015-12-22 22:05] rgreinho commented on #63
First attempt failed:

[code]

[2015-12-23 14:45] rgreinho commented on #63
Ok I solved the issue by doing ``rm -fr ~/.vagrant.d``. Now molecule is working fine with the latest ``Vagrant`` and ``VirtualBox``.

[2015-12-23 15:26] apenney commented on #57
:+1:

[2015-12-26 21:25] retr0h commented on #63
Yeah, same issue solved my problem.  I'm okay with this being a reasonable solution to upgrading to a newer version of Vagrant.

[2015-12-26 21:26] retr0h commented on #63
Verified Vagrant 1.8 is working as expected while validating #66.

[2015-12-26 21:26] #63 closed

[2015-12-26 21:27] retr0h commented on #54
Any new details on this?  Still having issues?  I'm not sure why you would be having this problem.

[2015-12-28 10:47] bborysenko opened #68 "Update python-vagrant to 0.5.10 to support Vagrant 1.8"
It seems that [python-vagrant](https://github.com/todddeluca/python-vagrant/) should be updated to [0.5.10](https://github.com/todddeluca/python-vagrant/blob/master/CHANGELOG.md#0510)

With 0.5.9 `molecule status` command failed due to one more extra item returned by `vagrant.status` [there](https://github.com/metacloud/molecule/blob/master/molecule/commands.py#L286):

[code]

With `python-vagrant

[2015-12-28 14:32] bborysenko opened #71 "Install role dependencies with ansible-galaxy?"
Hi,

Could you please give piece of advice about the right way to test ansible role that has some dependencies with molecule? For the moment I use a bit different  directory layout and override some molecule defaults:

[code]

And before `molecule converge` I manually run:

[code]

But I guess that it should be some better way to do it. It will be great to have configuration option with path to a

[2015-12-29 01:11] retr0h commented on #71
@bborysenko I've not given this piece too much thought.  My initial expectation would have people configure roles_path and library to their liking, pretty much like you have done.  This is how we do it as well. I'm kinda curious to see how people want to tackle dependencies, and go from there.  Cool?

[2015-12-29 16:57] #68 closed

[2015-12-31 20:49] rgreinho opened #76 "Proposal: leveraging DocOpt subcommands"
I wrote a tutorial here (https://github.com/rgreinho/docopt-subcommands-example) which explains how to use DocOpt subcommands in a console application.

I think we should leverage this in order to be able to easily add options to the main command or the subcommands in the future.

link: PR #75

[2015-12-31 21:08] retr0h commented on #76
Totally agree.

/cc @bborysenko @abrown-sg

[2016-01-01 19:04] rgreinho commented on #76
@retr0h Even with a way better command dispatcher to get rid of the ``if ... elif ... else`` that you dislike :)

https://github.com/rgreinho/docopt-subcommands-example#find-the-command-to-execute
https://github.com/rgreinho/docopt-subcommands-example/blob/master/main.py#L37-L43

[2016-01-01 20:10] retr0h commented on #76
![so sexy](http://gif.co/sas5.gif)

[2016-01-05 18:24] oserde opened #79 "Problems with molecule verify(using molecule 1.2.0)"
Hi,

I have problems with molecule verify. When I execute molecule test, I get the following output:

    Traceback (most recent call last):
    File "/home/oscar/project/.venv/bin/molecule", line 11, in <module>
    sys.exit(main())
    File "/home/oscar/project/.venv/local/lib/python2.7/site-packages/molecule/cli.py", line 87, in main
    CLI().main()
    File "/home/oscar/project/.venv/local/li

[2016-01-05 18:29] abrown-sg commented on #79
@oserde I just released 1.2.1 a few minutes ago with an edge case fix for the idempotence test. Does it exhibit the same behavior?

[2016-01-05 18:34] abrown-sg commented on #79
@oserde Out of curiosity, what version of python-vagrant are you using?

[2016-01-05 18:41] oserde commented on #79
Well. Now it works fine. Thank you.

I am using 0.5.9 and 0.5.10(for some tests I perform in a virtualenv)

[2016-01-05 18:43] #79 closed

[2016-01-06 22:07] abrown-sg commented on #76
The challenge we're facing when trying to implement this (which may be a DocOpt bug) is that long arguments don't seem to work in both forms.  For example:

`--platform=ubuntu` works
`--platform ubuntu` fails

The expected behavior is that both will work in DocOpt, however we've been unable to find a workaround with Remy's subcommand pattern that support this.

[2016-01-06 22:09] abrown-sg commented on #76
#81 implements as much of this as possible, however, by moving commands into individual classes. This is a win regardless since it's a significant simplification over what we were using previously. It will also be easy to drop in DocOpt subcommand support once the bug is resolved.

[2016-01-06 22:44] rgreinho commented on #76
I filed an issue upstream: https://github.com/docopt/docopt/issues/305.

[2016-01-07 02:15] jpooler opened #82 "Question: Idempotence Plugin"
Hi,

I'm getting this error when I run molecule test and can't figure out what I'm doing wrong:

Idempotence test in progress (can take a few minutes)...
Idempotence test failed.
The idempotence plugin was not found or did not provide the required information. Therefore the failure details cannot be displayed.

I did add the callback from https://github.com/metacloud/molecule/blob/master/assets/an

[2016-01-07 03:00] retr0h commented on #82
Could you paste or gist your molecule.yml?

[2016-01-07 03:16] jpooler commented on #82
Sure:

from the folder where the role i'm running against is located:

---
vagrant:
  raw_config_args:
    - "ssh.insert_key = false"

  platforms:
    - name: centos7ga
      box: centos7ga
      box_url: https://github.com/holms/vagrant-centos7-box/releases/download/7.1.1503.001/CentOS-7.1.1503-x86_64-netboot.box

  providers:
    - name: virtualbox
      type: virtualbox

  instances:
    - nam

[2016-01-07 03:17] jpooler commented on #82
I posted on github as well, but here it is:

from the folder where the role i'm running against is located:
------------------------------

vagrant:
raw_config_args:
- "ssh.insert_key = false"

platforms:
- name: centos7ga
box: centos7ga
box_url:
https://github.com/holms/vagrant-centos7-box/releases/download/7.1.1503.001/CentOS-7.1.1503-x86_64-netboot.box

providers:
- name: virtualbox
type: virtu

[2016-01-07 04:17] retr0h commented on #82
Looks like a pretty normal config.  Are you running molecule version 1.2.1?  We recently did some refactoring of the Idempotence check.

[2016-01-07 04:37] jpooler commented on #82
I am I am, I had read over the Changelog and seen the changes/upgraded as a result.

molecule -v
1.2.1

[2016-01-07 11:04] rndmh3ro opened #83 "Python 3 support"
It seems molecule only works with python 2.7.
Any chance to support the latest python-version?

[2016-01-07 11:14] rndmh3ro opened #84 "Trailing whitespace in molecule.yml after molecule init"
molecule.yml is the default one created with `molecule init`
[code]
At `# box_version:`
[code]

[2016-01-07 15:24] rndmh3ro opened #85 "Search in test/integration/default/ for tests"
Test-kitchen searches for tests in `test/integration/default/`, see here:
http://kitchen.ci/docs/getting-started/writing-test

It'd be nice if molecule could search there, too, so existing tests do not have to be changed (we test puppet/ansible/chef with the same tests, that reside in the aformentioned directory).

Maybe its also possible to let the user specify where to search for tests?

[2016-01-07 15:34] jpooler commented on #82
OK. I have some "progress" as to diagnosing the issue at least.

It seems that the callback plugin directory is hardcoded to:
ANSIBLE_CALLBACK_PLUGINS: /System/Library/Frameworks/Python.framework/Versions/2.7/share/molecule/ansible/plugins/callback/idempotence

Which doesn't exist natively on OSX for some reason? I installed molecule via pip, but also have the source checked out in my local repo.

[2016-01-07 15:40] rgreinho commented on #82
The idempotence.py callback plugin is included in the package so you should not have to copy it manually. It should get extracted in ``<python_prefix>/share/molecule/ansible/plugins/callback/idempotence``.

You can find you Python prefix with this one liner: ``python -c "import sys; print(sys.prefix)"``. If you installed ``Molecule`` system wide, your prefix should be ``/usr`` or ``/usr/local/``,

[2016-01-07 15:49] rgreinho commented on #83
As long as ``Ansible`` does not support python 3, we do not plan to support it.

[2016-01-07 16:16] jpooler commented on #82
find / -name idempotence.py 2>/dev/null
/Users/jarrod/.virtualenvs/molecule/share/molecule/ansible/plugins/callback/idempotence/idempotence.py
/Users/jarrod/Tools/git/molecule/assets/ansible/plugins/callback/idempotence/idempotence.py

It doesn't seem like it was extracted via the initial pip installl molecule I did. The virtualenv one looks accurate, but I'm still getting the error.

I've tried t

[2016-01-07 16:27] rgreinho commented on #82
Reading your message, I tried installing molecule system wide on Mac OS and the plugin gets extracted to ``/usr/local/share/molecule/ansible/plugins/callback/idempotence/idempotence.py``. Besides I got the correct behaviour when running ``molecule test`` on one of my roles. So I cannot repro the problem for a system wide installation.

Your virtual environment seems correct, but your ``ANSIBLE_CAL

[2016-01-07 16:36] abrown-sg commented on #85
We have all the pieces in place to make this work by changing the directory in the config file (or even molecule.yml), but the rakefile template still hardcodes spec/.

[2016-01-07 16:50] #83 closed

[2016-01-07 16:53] jpooler commented on #82
I tried prepending with the above and it still tries this:

DEBUG: ANSIBLE ENVIRONMENT
ANSIBLE_CALLBACK_PLUGINS: /Users/jarrod/.virtualenvs/molecule/share/molecule/ansible/plugins/callback/idempotence//System/Library/Frameworks/Python.framework/Versions/2.7/share/molecule/ansible/plugins/callback/idempotence

I'll try uninstalling systemwide next and see how it goes.

[2016-01-07 17:01] rgreinho commented on #82
Oh I think I see a bug. Can you try adding a colon (`:`) at the end of the path?

[code]

[2016-01-07 17:02] abrown-sg commented on #85
Once #86 is merged, you should be able to set the serverspec_dir directive and it will point anywhere you want for tests.  You can do this in a role's molecule.yml, to make it role specific, or you can set it in your own molecule config file (~/.config/molecule/config.yml, /etc/molecule/config.yml, etc.) and it will be a global option for molecule.

[code]

[2016-01-07 17:32] abrown-sg commented on #84
Fixed by #87. Thanks for the report!

[2016-01-07 17:33] #84 closed

[2016-01-07 17:38] #85 closed

[2016-01-07 18:06] jpooler commented on #82
I'm getting this now:

Unexpected Exception: 'module' object has no attribute 'CallbackModule'

I had to put single quotes around it since the colon doesn't play nicely when python parses the json.

ANSIBLE_CALLBACK_PLUGINS: '/Users/jarrod/.virtualenvs/molecule/share/molecule/ansible/plugins/callback/idempotence/:'

This is where I'm at now, I'm using ansible 2.0.0 stable, but going to try and get

[2016-01-07 18:13] jpooler commented on #82
When I try this with Ansible 1.9.4, I get this:

DEBUG: ANSIBLE ENVIRONMENT
ANSIBLE_CALLBACK_PLUGINS: '/Users/jarrod/.virtualenvs/molecule/share/molecule/ansible/plugins/callback/idempotence/:'
ANSIBLE_CONFIG: .molecule/ansible.cfg
ANSIBLE_FORCE_COLOR: 'true'
ANSIBLE_HOST_KEY_CHECKING: 'false'
ANSIBLE_SSH_ARGS: -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes -o ControlMaster=auto
  -o Contro

[2016-01-07 18:33] rgreinho commented on #82
Oh, ok, so ``molecule`` does not support ansible 2.0.0. We may think of supporting it once it will be release, but certainly not before.

Regarding the problem with 1.9.4, it looks like your ``extra vars`` should be quoted differently: http://docs.ansible.com/ansible/playbooks_variables.html#passing-variables-on-the-command-line

[2016-01-07 18:48] #82 closed

[2016-01-09 23:29] rgreinho commented on #76
@abrown-sg There was a mistake in my tutorial (that I fixed), and now the parameters for the arguments work both with and without the equal sign.

Basically there need to be an ellipsis ('``...``') after the args (looks like ``[<args>...]``), so that the program can have multiple values. The issue was that ``--platform ubuntu`` was counted has 2 arguments, but as the ellipsis was not specified, on

[2016-01-12 19:18] retr0h opened #93 "Ansible 2.0 support"
Ansible [2.0](http://www.ansible.com/blog/ansible-2.0-launch) launched.  Verify molecule is compliant with Ansible 2.0.

[2016-01-12 23:25] rgreinho commented on #93
Check whether the callback plugin for idempotence still works with Ansible 2.0.

[2016-01-14 09:08] philpep commented on #93
Note that testinfra isn't compatible with ansible 2.0 yet: https://github.com/philpep/testinfra/issues/49

[2016-01-14 17:58] binarytemple commented on #82
I know that molecule isn't yet supporting ansible 2.0, but I've been hacking testinfra (which wasn't working either with Ansible 2.0) and now have it working ([issue details](https://github.com/philpep/testinfra/issues/49)).
I'd like to get molecule integrated ASAP into my CI workflow. Is there an easy way to disable the idemotence test?

[2016-01-14 18:07] rgreinho commented on #82
There is no way to disable the idempotence test.

You can however call each test separately instead of calling ``molecule test``:
[code]

[2016-01-14 18:11] retr0h commented on #82
I believe you can update your molecule.yml, and change the test sequence to the following.

[code]

[2016-01-14 18:11] binarytemple commented on #82
Thanks @rgreinho!

[2016-01-22 02:56] retr0h commented on #54
Closing.

[2016-01-22 02:56] #54 closed

[2016-01-22 19:21] 0xDEC0DE opened #98 "Support multiple simultaneous logins with cluster-ssh"
I have a small shell script that I use to login to multiple vagrant VMs simultaneously using `csshX`; perhaps molecule could investigate the system for the presence of such tools and do something similar if no `<host>` parameter is provided to `molecule login`:

    #!/bin/sh

    : init
    PROGNAME=`basename $0`
    TMPFILE=`mktemp -t $PROGNAME`
    trap 'rm -f $TMPFILE' EXIT
    vagrant ssh-con

[2016-01-23 04:39] 0xDEC0DE opened #99 "Use Ansible's Dynamic Inventories rather than static files"
Ansible supports dynamic inventories, rather than from static files:

http://docs.ansible.com/ansible/developing_inventory.html

Molecule's workflow (and the number of config files it needs) could likely be simplified quite a bit if it had an "inventory mode" that it could pass to ansible via the `-i` switch.

[2016-01-24 22:51] retr0h commented on #99
Dynamic inventory really isn't going to help much.   We would be replacing one file (ansible_inventory) with the dynamic inventory script.  Not much benefit to that.  Plus we are trying to keep things fairly customizable.  For example the work we have done at work, utilizes special proxmox and vagrant dynamic inventory scripts for different use cases.  We don't want molecule to dictate those conve

[2016-01-24 22:51] #99 closed

[2016-01-24 23:04] retr0h commented on #98
I don't see us implementing anything of this nature in the near future.  At least not within molecule.  However, you should be able to retain your wrapper script by updating your script with:

[code]

[2016-01-24 23:04] #98 closed

[2016-01-26 19:56] 0xDEC0DE opened #101 "_print_valid_platforms() throws stack trace"
[code]

[2016-02-02 16:10] bborysenko opened #106 "Idempotence test fails if ansible_managed is used"
I prefer to add [`ansible_managed`](http://docs.ansible.com/ansible/intro_configuration.html#ansible-managed) at the top of any template inside my roles. But since by default it includes time stamps, idempotence test fails most times. For the moment I just use a custom `ansible.cfg` with own `ansible_managed`. But it forced me to add `ansible.cfg` to each role, and I feel like that is not the best

[2016-02-02 21:52] retr0h commented on #106
Yeah, we also use ansible_managed in our templates, which is hard coded to be static.  I actually would agree with you, we should set `ansible_managed` to something static in ansible.cfg.j2.

:+1:

[2016-02-02 23:11] #101 closed

[2016-02-03 08:49] bborysenko opened #109 "`molecule test` interrupted if one of step failed."
Just realized that actually it's not possible to use just `molecule test` on CI environment. Since we use `sys.exit` [here](https://github.com/metacloud/molecule/blob/master/molecule/ansible_playbook.py#L156) and [here](https://github.com/metacloud/molecule/blob/master/molecule/commands.py#L279), if `converge` or `verify` step is failed we stuck with a VM that need to be destroed manually.

As wor

[2016-02-03 09:05] bborysenko opened #110 "Feature idea: Add a new molecule command to perform a syntax check"
**IDEA:**  Add a new molecule command to run `ansible-playbook` locally with `--syntax-check` option. Something like:

[code]

Change sequence of commands to run when performing `molecule test` to

[code]

The main goal is to fail as soon as possible.

**NOTE:** #105 then should go from `converge` step to `syntax-check`

[2016-02-03 13:29] dhutty commented on #109
About using molecule in CI:
* I wanted to emphasize which step of molecule failed
* I wanted to ensure that VMs were destroyed no matter what happened in my Jenkins job

So I ended up with jobs that looked like:
[code]

This might be useful to you until we get around to having molecule take care of it internally.

[2016-02-03 14:53] bborysenko commented on #109
@dhutty thanks a lot for sharing!

[2016-02-03 17:45] abrown-sg commented on #106
Fixed by #108

[2016-02-03 17:45] #106 closed

[2016-02-03 17:46] abrown-sg commented on #71
Fixed by #105.

[2016-02-03 17:46] #71 closed

[2016-02-03 22:53] retr0h commented on #110
@bborysenko Sounds reasonable to me.

[2016-02-03 22:54] retr0h commented on #109
@dhutty we have a Jira tracking this feature?  Seems like a good molecule update.

[2016-02-04 23:32] #76 closed

[2016-02-05 16:59] abrown-sg commented on #109
CIA-399. Thinking I'll add an --always-destroy flag to `molecule test`

[2016-02-08 23:44] 0xDEC0DE opened #114 "VirtualBox: enable promiscuous mode on guests"
When standing up OpenStack with molecule + vagrant, it is not possible to pass traffic to VMs, since doing so relies on the network interfaces being set to promiscuous mode, and VirtualBox blocks promiscuous mode on VMs by default.

This can be worked around in the `molecule.yml` with the following:

    raw_config_args:
      - "vm.provider :virtualbox do |vb| vb.customize ['modifyvm', :id, '--ni

[2016-02-10 09:23] conorsch opened #117 "Can't run serverspec tests"
Using the default config from the docs, the tests in `spec/*_spec.rb` aren't run:

[code]

Not sure what's prohibiting the `spec/default_spec.rb` from being found, especially because testinfra tries to run. Let me know if I can provide more info.

[2016-02-10 09:37] conorsch commented on #109
Consider mimicking the test-kitchen pragma:

[code]

[2016-02-10 09:41] conorsch commented on #114
Seems like #9 foresaw problems like this. Wouldn't it be better to support OpenStack as a separate backend provider?

[2016-02-10 09:48] conorsch commented on #93
Yup, seems to based on a handful of simple playbooks I tested. Although when failing, molecule displays this cryptic message:

[code]

But that messages appears under both Ansible 1.9.4 and 2.0.0.2, so it doesn't seem like a problem caused by v2.

[2016-02-10 11:02] retr0h commented on #117
Do you have a `tests/` directory at the root of ur project?

[2016-02-10 15:52] rgreinho commented on #93
This means what it says. The idempotence plugin was not found in your installation setup, therefore you can only know whether the role you are testing is idempotent or not, but molecule is not able to identify the culprit tasks.

The plugin interface in Ansible v2 is calling the v1 methods so the plugin might still work in the newer version. I'm still not using v2, so I have not tested it yet.

[2016-02-10 16:48] abrown-sg commented on #117
If you do have `tests/` in the root of the project and need to keep it, adding something like this to your molecule.yml should prevent it from running:

[code]

[2016-02-10 16:53] abrown-sg commented on #109
@conorsch Yeah, good idea, that'll work out fine.

[2016-02-10 18:04] conorsch commented on #117
No, the only directories I have are those created by the `init` command:

[code]

That did the trick! Turns out I have to disable the testinfra directory in order for the `spec` directory to be found. This isn't [what the docs imply](http://molecule.readthedocs.org/en/master/usage.html#integration-testing):

Feels like I'm missing something here as a first-time user. Happy to contribute docs, but

[2016-02-10 18:05] abrown-sg commented on #117
Hmm, that sounds like a bug. I'll look into it.  Are you installed from pip or source?

[2016-02-10 18:23] retr0h commented on #109
@conorsch \m/

[2016-02-10 18:25] conorsch commented on #117
Problem goes away when using `v1.3.0` via pip. Will try to reproduce on the tagged release, otherwise I'm good to go here. The behavior described in the docs is now what I'm seeing.

Thanks for your time, @abrown-sg!

[2016-02-10 18:25] #117 closed

[2016-02-12 10:57] bborysenko commented on #93
Since with 2.0 `ansible-galaxy` now creates `tests` directory by default, I guess it will be better to change  directories to look for tests and path to ansible playbook :

[code]

In that way we would be able to keep all test code in one directory.

[2016-02-13 13:46] rndmh3ro commented on #117
I still have this problem.

molecule version: 1.3.1.dev27

[code]

molecule.yml:
[code]

[code]

[2016-02-15 18:40] abrown-sg commented on #117
@rndmh3ro I think that's behaving as expected. It's running rubocop against the *.rb files it finds in serverspec_dir.

[2016-02-15 18:41] abrown-sg commented on #117
The messaging is a little confusing about what it's doing, I can clean that up.

[2016-02-16 16:59] abrown-sg commented on #117
Added better verify visibility in #120.

[2016-02-16 17:21] rndmh3ro commented on #117
Thanks, I obviously didn't look!

[2016-02-16 17:21] abrown-sg commented on #117
No worries, it led to a usability improvement. Thanks for the feedback. :)

[2016-02-17 19:00] oserde opened #123 "Libvirt provider: Molecule destroy does not work well when provider parameters are wrong"
Molecule destroy does not work well when libvirt provider parameters are wrong or not supported by the machine.

For instance, when I specify "graphics_type: gtk", i get the following error:

Then i execute `molecule destroy` and nothing happens. If I try to execute molecule again(`molecule test`, or` molecule create`), I get the following error:

So while using libvirt and setting wrong or unsupp

[2016-02-17 22:05] conorsch opened #125 "`molecule login` should infer single host"
When running `molecule login`, it requires a hostname, even if there's only one host running. If there's only one host running, `molecule login` should _not_ require a hostname, and should assume that the only running machine is the SSH target.

[2016-02-17 22:06] abrown-sg commented on #125
@conorsch I think #113 covers this. It's merged but not on PyPi yet. We're due for a new release.

[2016-02-17 22:06] rgreinho commented on #125
PR #113 solves this issue.

[2016-02-17 22:08] #125 closed

[2016-02-17 22:19] conorsch commented on #125
@abrown-sg Missed that, thanks!

[2016-02-20 01:46] linearregression opened #126 "any plant to support docker?"

[2016-02-23 17:42] abrown-sg opened #127 "molecule converge --tags <tags> fails if not created"
`molecule converge` will first call `molecule create` if instances haven't been created. This causes an error when passing --tags to `molecule converge` since `create` doesn't support tags.

[2016-02-23 23:56] conorsch commented on #93
@bborysenko Great proposal on the directory rename, I'd like to see the same.

Regarding the callback_plugin not being found, turns out I just needed to convert my project from the v1 format with `callback_plugins` directory to the v2 format, and all was OK. See the [porting guide](https://docs.ansible.com/ansible/porting_guide_2.0.html) for details.

[2016-02-24 00:01] conorsch opened #128 "Feature idea: Add a new molecule command to perform check (dry run)"
Supporting `--check` mode for Ansible roles isn't trivial; you have to make sure any tasks that register variables are read-only and marked with `always_run: true`. Personally I'm a big fan of leveraging check mode, but I think the difficulty of testing it makes many folks writing Ansible roles leave it by the wayside. Molecule can help with that.

As low-hanging fruit during edits for #110, addin

[2016-02-26 20:50] abrown-sg opened #129 "Instance raw_config_arg merging is broken"
Given this:
[code]
Debug shows raw_config_args is converted to this:

[code]

Because of how the two lines are mixed, this potentially looks like a bug with our dict merging.

[2016-02-26 20:54] abrown-sg commented on #129
Disregard, local issue.

[2016-02-26 20:54] #129 closed

[2016-02-29 15:22] dhutty commented on #126
Not currently. But that doesn't mean that we wouldn't make a plan if it's desired and demonstrably viable/valuable. The best way forward would be if you would expand a little on what you have in mind.

[2016-02-29 20:51] dhutty opened #131 "Increase visibility of ssh"
In the interests of troubleshooting obscure ssh config problems, it would helpful if we could allow serverspec to show complete output from the ssh connection, as if it were made with -vvv.

[2016-03-01 18:00] #127 closed

[2016-03-07 20:35] zochao opened #134 "Verbose in molecule.yml should handle bool True"
https://github.com/metacloud/molecule/blob/master/molecule/ansible_playbook.py#L104

[code]

[2016-03-07 20:35] zochao commented on #134
https://github.com/metacloud/molecule/pull/133

[2016-03-08 23:45] abrown-sg commented on #134
<img width="737" alt="screen shot 2016-03-08 at 3 43 54 pm" src="https://cloud.githubusercontent.com/assets/5855384/13620444/9e2f6c32-e544-11e5-91bc-4ea2da2e2262.png">

The documentation incorrectly references this.  It should be v - vvvv.  However I think we should also accept True and make it 'vvvv.'

[code]

[2016-03-09 18:27] #134 closed

[2016-03-09 21:22] #109 closed

[2016-03-09 22:04] conorsch commented on #93
I've been using Ansible v2 with molecule for about a month now, and I don't have any problems to report. If there's any additional testing to be performed, holler, but otherwise I think the dir rename is the only blocker on closing this issue.

[2016-03-27 19:39] rokka-n opened #141 "Again whitespaces"
Hi,

This is from readme example, run on a macbook, molecule version is 1.3.0

[code]

If these whitespaces removed, I still don't see serverspec tests running:
[code]

[2016-04-01 13:28] tjanez opened #145 "Re-enable automatic building documentation building on Read the Docs"
Hi!

The last (successful) build of [Molecule's documentation on Read the Docs](https://readthedocs.org/projects/molecule/builds/) is from [Jan 29, 2016](https://readthedocs.org/projects/molecule/builds/3682488/).

Could you re-enable automatic building via GitHub's web hooks?

[2016-04-01 15:18] tjanez opened #146 "Question: running commands on multiple instances"
Hi!

When I'm developing Ansible roles I usually target multiple operating systems or multiple versions of a single operating system.

Let's say I have `molecule.yml` which has the following `vagrant` section:
[code]

How can I work with multiple supported platforms (namely, `centos7` and `fedora23`)?
- Do I define multiple instances, one for each supported platform? How can I specify which platfo

[2016-04-02 19:15] rokka-n commented on #128
:+1:

[2016-04-04 02:57] abrown-sg commented on #146
@tjanez At the moment we don't have a mechanism to do multiple platforms in a single converge. The entire thing is built around the idea that you're converging one or multiple instances of the same platform. For our needs, we do these as separate steps, though I could definitely see how it would be convenient to test multiple platforms in a single shot.

[2016-04-04 03:03] abrown-sg commented on #141
@rokka-n Do you have the same behavior with 1.4.1? I know your comment on another issue said you did, but I'm unable to reproduce it.

[code]

[2016-04-04 03:06] abrown-sg commented on #145
Good call, I'll look into it. Thanks!

[2016-04-04 03:40] rokka-n commented on #141
That's correct, just upgraded in venv to 1.4.1 and now init subcommand generates setup without any warnings and all tests are passing.

However, if whitespace is added accidentally:
[code]

It looks like a warning, it doesn't stop the test.
It would be nice to have this as an optional feature, and by default just ignore whitespaces.

[2016-04-04 06:24] skornehl commented on #126
we need the possibility to describe [this](https://www.vagrantup.com/docs/provisioning/docker.html) in molecule.yml - or am I just missing something here?

[2016-04-04 06:27] skornehl commented on #93
I also use it with Ansible 2.0 and see not problems - except for the idempotence plugin (like described by @conorsch )

[2016-04-04 06:41] skornehl opened #148 "[v1.4.1] Testing multiple roles"
Hi,

I'm having a test project with "tests" folders in different roles and one in the root folder. When I run ```molecule verify``` in version 1.4.0 it says:

[code]

in version 1.4.1 i only get:

[code]

My tree looks like this:

[code]

Also: I need an empty test folder in the root directory to make molecule use the folders in the roles, too.

[2016-04-04 07:46] tjanez commented on #126
@dhutty, our use case would be using Molecule in an environment where one can't easily spin up virtual machines with Vagrant, but can easily create Docker containers.

An example of such an environment are most CI services which usually only provide a single or a couple of very customized operating system options (e.g. [Travis CI's build environment](https://docs.travis-ci.com/user/ci-environment/

[2016-04-04 07:59] tjanez commented on #146
@abrown-sg, thanks for your explanation.

So, if I understand current Molecule's design correctly, instances are meant to be used to test how a role behaves under different configurations/states of the currently chosen platform?
Furthermore, defining multiple instances to test a role on different platforms is not an intended Molecule's usage pattern?

[2016-04-04 15:22] retr0h commented on #141
@rokka-n not going to happen.

[2016-04-04 15:30] #141 closed

[2016-04-04 16:33] hectcastro opened #149 "Jinja2 runtime error for followlinks argument of FileSystemLoader"
Attempting to run `molecule` on a system with Jinja2 already installed yields the following error:

[code]

Looking at the Jinja2 [CHANGELOG](http://jinja.pocoo.org/docs/dev/changelog/), the `followlinks` keyword was added in version 2.8. Perhaps the Jinja2 dependency for Molecule need to be `>=2.8`?

[2016-04-05 13:18] tjanez opened #151 "Question: accessing values of variables as they are being used for provisioning an instance inside Testinfra tests"
I want to use Testinfra tests to test my role.

Inside an Testinfra test I would like to access the values of variables as they are being used for provisioning the machine when `playbook.yml` is converged for some instance.
I need this since the instance's state, which I want to check, depends on the chosen values of the variables defined in role's `default/main.yml` or `vars/main.yml` file.

I tr

[2016-04-05 13:44] melodous commented on #151
Hi tjanez,

We load ansible variables files  (defaults and vars)  with the following functions, maybe it works for you:

@pytest.fixture(scope="module")
def AnsibleDefaults(Ansible):
    return Ansible("include_vars","./defaults/main.yml")["ansible_facts"]

@pytest.fixture(scope="module")
def AnsibleVars(Ansible):
    return Ansible("include_vars","./vars/main.yml")["ansible_facts"]

Regards

Raúl

[2016-04-05 15:42] retr0h commented on #151
Also, molecule executes `ansible-playbook` with an inventory path of `-i .molecule/ansible_inventory`.  However, in molecule's case this is host inventory.  Only the contents of this file, are available to testinfra.  I would have expected Ansible to provide defaults as part of this inventory.  However, @melodous has come up with a rather creative solution.

[2016-04-06 13:41] tjanez commented on #151
@melodous, thanks for sharing your code, it was very valuable.

I had to adapt your approach a bit since I want to create a role that loads different variables depending on value of `ansible_distribution` and another variable (`postgresql_install_source` in the example code below):

[code]

I had to modify `.molecule/ansible_inventory` and define the `postgresql_install_source` variable there sinc

[2016-04-06 19:00] #149 closed

[2016-04-12 04:30] retr0h commented on #148
@skornehl have the repo anywhere I can clone?

[2016-04-12 04:33] retr0h commented on #146
@tjanez IIRC - The reason we didn't incorporate mixed platforms was due to vagrant.  We ran into issues getting vagrant to boot different platforms in the same Vagrantfile.  I haven't looked into this for quite some time.  We felt having the `--platform` flag was a decent compromise.

[2016-04-12 04:36] retr0h commented on #126
@tjanez Having molecule work on travisci is paramount.  We are knees deep in some platform work, but happy to look into this in the next couple months.

[2016-04-13 05:28] skornehl commented on #148
Hi @retr0h,

here it is: https://github.com/skornehl/ansible-molecule-test

Thanks!

[2016-04-19 16:27] pcastellazzi opened #152 "Question: Any particular reason why trailing new lines are a problem?"
I do not think the removal of trailing new lines or spaces should be forced. Can we convert this to an option at least?

I am agree with the removal of trailing spaces, but some other user may not. For newlines there is a list of very good reasons to keep the last one [here](http://stackoverflow.com/questions/729692/why-should-text-files-end-with-a-newline)

[2016-04-20 17:34] azenk commented on #126
I decided to take a stab at this.  It's a work in progress at https://github.com/azenk/molecule/tree/docker_provisioner

It looks to me like a change in the provisioner injection code is required, as well as a config file change.  Without it, I don't believe that the provisioner can be changed from vagrant without modifying the default.yml file.  I'd propose adding a provisioner option to the mole

[2016-04-21 08:02] retr0h commented on #9
We yanked this all together.

[2016-04-21 08:02] #9 closed

[2016-05-02 19:32] lewg commented on #9
Does this mean you're not in favor of a separate OpenStack provider? I could see some definite value there.

[2016-05-02 23:55] retr0h commented on #9
I'm not a fan of vagrant provisioners.  I'd prefer to just have ansible handle this.

[2016-05-03 00:08] conorsch commented on #152
The trailing newline linting error in YAML files threw me for a loop when I started using molecule as well. My objection is the same, namely that it feels distinctly anti-POSIX, but having a style pragma enforced by tooling is arguably better than bickering about preferences.

To put myself in the maintainers' shoes, adding an option to permit trailing newlines, but continue linting on all other a

[2016-05-03 00:13] conorsch commented on #9
This is a great philosophy that many testing tools lack in terms of Ansible support. :+1:

Is there a PR that was merged with this functionality? Can't find it if so.

[2016-05-03 01:19] conorsch commented on #93
@retr0h Safe to close.

[2016-05-03 11:00] dhutty commented on #152
Molecule's validator is not checking for trailing newlines (that the last line matches `/\n$/`), it is checking for trailing *blank* lines, that is that the last line of the file should not be *empty* (matches `/^\n$/`). This is an important distinction.

https://github.com/metacloud/molecule/blob/master/molecule/validators.py#L96

[2016-05-03 11:00] #152 closed

[2016-05-04 16:16] TieWei opened #155 "The vagrant not support static ip assignment"
Although currently the network type could be set as static, but there's no ip parameter could be set, it end with below error.
[code]
In molecule.yml
[code]

[2016-05-06 00:04] retr0h commented on #155
Merged

[2016-05-06 00:04] #155 closed

[2016-05-06 01:59] conorsch commented on #152
Thank you for clearing this up. Great explanation, and I now agree with the implementation.

[2016-05-13 07:09] sebinjohn opened #158 "`yapf -i -r molecule` command changes master branch"
As per the guidelines for contributing, `yapf -i -r molecule` has to be run before submitting a PR.
Running this command from master branch makes changes to the master branch code

[2016-05-13 08:08] retr0h commented on #158
Hi @sebinjohn, looks like you are running the newest version of yapf.  The version I have does not make any changes.  I submitted #160 to help with this.

[2016-05-13 16:28] DavidWittman opened #161 "Support for multiple test suites"
One of the features of Test Kitchen which I love is the ability to define multiple [test suites](http://kitchen.ci/docs/getting-started/adding-suite) to run against the same Ansible role. There are often many different configurations of the role which need to be tested and I was unable to find (in the documentation, issues, or in the source) a way to accomplish this with Molecule today.

[2016-05-13 16:34] retr0h commented on #161
No, not today.  However, I am working on a fairly significant update to molecule, which will rework the entire config to a very kitchen like config, which includes scenario based testing.  I am prototyping it in another [repo](https://github.com/retr0h/maquina/blob/master/tests/conftest.py#L68-L96), and hope to port it back into molecule.  However, at this time, we don't have what you're looking f

[2016-05-13 16:37] #161 closed

[2016-05-13 16:38] retr0h commented on #151
Not currently, but welcome PRs.

[2016-05-13 16:38] #151 closed

[2016-05-13 16:43] DavidWittman commented on #161
@retr0h 👍 I'll keep an eye on Maquina then.

[2016-05-13 16:44] retr0h commented on #146
I now remember why we took this approach.  When we wrote molecule, we were solving a use case specific to us.  We wanted the ability to perform multi-node testing.  Kitchen didn't support this, however, it did support multi-platform.   We implemented multi-host on a single platform.  Once we decided to implement multi-platform, it was implemented against a single-platform at a time.  I'm working o

[2016-05-13 16:44] #146 closed

[2016-05-13 18:55] retr0h commented on #158
#160 addressed this

[2016-05-13 18:55] #158 closed

[2016-05-24 20:51] kireledan commented on #126
I decided to give this a try because I urgently desired this feature. So far all of the commands except verify are supported and right now I have it only building off of one static image name. But at the moment, a molecule converge does run the playbooks against the specified docker containers. Molecule test also works (except the verify states that integration tests are skipped).

https://github.

[2016-05-26 16:29] schlueter opened #167 "Doc makefile has implicit requirement for sphinx-bootstrap-theme"
Although sphinx-bootstrap-theme is required to build the docs, it is not explicitly stated as a requirement.

[2016-05-26 16:41] dhutty commented on #167
Sort of: https://github.com/metacloud/molecule/blob/master/docs-requirements.txt which is used by tox: https://github.com/metacloud/molecule/blob/master/tox.ini

[2016-05-26 16:41] #167 closed

[2016-06-08 17:22] retr0h commented on #126
Completed.

[2016-06-08 17:22] #126 closed

[2016-06-09 17:54] abrown-sg opened #176 "Molecule login is broken in 1.5.0"
The docker changes provided by @kireledan look like they broke `molecule login` when using vagrant.

[code]

[2016-06-09 17:58] #176 closed

[2016-06-11 18:43] rgreinho opened #180 "Errors are displayed on stdout"
Errors are displayed on the standard output stream instead of the standard error stream. This causes issues when using redirections. For instance adding ``2>/dev/null`` at the end of a command has no effect.

A use case where this is really annoying is with the bash completion. The bash completion scripts relies on the ``molecule status`` command to provide the dynamic arguments. If an error occur

[2016-06-11 18:45] rgreinho opened #181 "Molecule status is too slow (vagrant provider)"
The ``molecule status`` command, used with the vagrant provider is too slow. It takes an average of 3s to execute. This is particularly annoying as this command is the one providing the dynamic arguments during the bash completion.

Would it be possible to extract the information directly from the molecule configuration file rather than querying vagrant for this?

[2016-06-13 17:30] dhutty opened #182 "linting/validators"
There has been much discussion and some code concerning validators/linting with divergent opinions, I'm opening this issue as a place to collect opinions about the direction we want to take in the area of validation. Please add your thoughts below and whether you will be able to dedicate time to developing.

It seems that the most sensible compromise would be to support molecule options such that

[2016-06-14 07:02] kireledan commented on #182
To me this seems a bit unnecessary. The only validator that I think molecule would need would be a dry-run or just a quick syntax check.

[2016-06-14 12:45] techraf opened #183 "`molecule test` is successful if the last test passes (even though another one failed)"
With:

[code]

If  Specinfra tests pass, even if idempotence test failed, `molecule` returns exit code 0.

With:

[code]

If idempotence test passes, even if Specinfra tests failed, `molecule` returns exit code 0.

Is it by design?

[2016-06-14 16:14] conorsch commented on #182
OK, I'll bite: i'm a fan of the linting. There are lots of nearly unreadable Ansible roles out there, and Serverspec tests are similarly garish, given that they're mostly written by folks who don't code Ruby full-time for their day jobs. The linting that Molecule runs automatically helps enforce a consistent pattern across projects.

If you don't like the linting setup, you can use the `molecule.i

[2016-06-14 19:59] kireledan commented on #183
The return code depends on the success of the last running item. It definitely shouldn't return 0 if one of those fails because idempotence will return 1 if the idempotence test fails. I would say this is not as intended and will fix this so that ```test``` will return the non-zero error code if it encounters one.

[2016-06-14 20:10] retr0h commented on #182
I agree with @conorsch.  The point of molecule is to be somewhat prescriptive.  Everyone may not agree with it, but I'm not asking for everyone to.

[2016-06-14 20:16] kireledan commented on #182
I definitely agree with the decision of not being able to turn them on or off. If molecule's goal is to enforce a community standard then there should be no option to avoid it.

[2016-06-15 05:26] retr0h opened #184 "Ability to run docker in privileged mode"
Need the ability to run docker in privileged mode.  This is necessary when trying to test services such as [etcd](https://github.com/retr0h/ansible-etcd).  Systemd is necessary to properly install and test the role. This should be configurable though molecule.yml.

[2016-06-15 05:27] retr0h opened #185 "Ability to change containers command"
Need the ability to change the command the container is executing.  This is necessary when trying to test services such as [etcd](https://github.com/retr0h/ansible-etcd).  Systemd is necessary and /usr/sbin/init needs to run to properly install and test the role. This should be configurable though molecule.yml.

[2016-06-15 05:28] retr0h commented on #185
/cc @kireledan

[2016-06-15 05:28] retr0h commented on #184
/cc @kireledan

[2016-06-15 05:44] retr0h commented on #185
Actually, more I think about it, we shouldn't specify a command, and allow the command the container was built with to [run](https://github.com/retr0h/docker-images/blob/master/Dockerfile-centos7-systemd#L22).

[2016-06-15 08:53] kireledan commented on #184
Should be a simple tweak. I'll get a PR up within the next few days and update the docs.

[2016-06-15 19:39] #185 closed

[2016-06-16 03:35] techraf opened #188 "Does test always need to destroy machine after a full run?"
If I define my test sequence in `Molecule.yml` like this:

[code]

my expectation is that the machine will remain up. It doesn't.

Shouldn't the logic be: if user specified `test:` they should be considered in full control (and thus Molecule should expect explicit `destroy` at the end instead of inferring one)?

[2016-06-16 14:35] techraf opened #189 "Serverspec test with `inifile`-parsing fails when run via `molecule verify`"
When trying to run Serverspec with `inifile` parsing the following error occurs, but **only** when it is being called with `molecule verify`.

* The same test run with `rake` locally on the guest virtual machine (`trusty64`) passes **without problems**.
* Also checked running the test locally on host (OS X) - passes with **no problems**.

[code]

Test `inifile_spec.rb`:

[code]

`/usr/local/etc/te

[2016-06-16 22:55] retr0h commented on #184
@kireledan This doesn't appear to actually work.

[code]

[2016-06-16 22:58] retr0h commented on #184
Actually I'm dumb, and never added `privileged: True` to my molecule.yml. :)

[2016-06-16 22:59] retr0h commented on #184
Works as expected, closing.

[code]

[2016-06-16 22:59] #184 closed

[2016-06-20 10:42] techraf commented on #189
For now it seems like a Vagrant + Serverspec problem. [Troubleshooting](https://github.com/techraf/molecule-serverspec-inifile-error)

[2016-06-20 10:42] #189 closed

[2016-06-20 16:14] kireledan commented on #188
The behavior of automatically destroying the instances after testing is similar to test-kitchen behavior. To me, this was completely expected, but I see what you mean about being more explicit.

The ```--destroy``` flag in test is what controls this behavior currently. The choice here would be to either remove the hardcoded destroy sequence and get rid of the ```--destroy``` flag. Or maybe just ma

[2016-06-21 12:09] sebinjohn opened #192 "Running tox on master branch throws errors"
Getting the below errors on master branch while running tox

Wondering if others also get the same?

[code]

and

[code]

[2016-06-21 13:51] kireledan commented on #192
Interesting - my fork is even with master at the moment and the travis build seems to be running fine. First error looks like its complaining that git isn't installed? And with the second one - are any of the other docker tests passing for you?

[2016-06-21 14:10] sebinjohn commented on #192
I am on OSX Capitan and I use docker-toolbox to setup docker

For the second issue, I did the following

without setting any docker parameters, execute the unittest manually.

`pwd && python -m unittest discover --failfast`

Result  is
[code]

now if I set docker parameters using `eval $(docker-machine env docker)` and rerun the unittest

`pwd && python -m unittest discover --failfast`

Result is:

[2016-06-21 14:16] kireledan commented on #192
The docker environment variables aren't being ignored. From what you describe it looks like you just didn't have them set. The docker provisioner will only read from your current variables. It won't search your machines to set them. Also you should give the new docker beta a try - It's really awesome because you can use docker without having to set up a docker-machine.

[2016-06-21 14:35] sebinjohn commented on #192
@kireledan apologies if I sound confusing.
What I have tried to explain is that if I set docker parameters and run unittest manually(`python -m unittest discover --failfast`) it will work and the same doesn't work when I use tox.

So, I just made a change - https://github.com/sebinjohn/molecule/commit/03f52daf1bd1e6940940dc968472d35f44c45087 to the`tox.ini`

and now the tests work fine.

Also, I h

[2016-06-21 14:54] kernelpanek-tendril opened #193 "Number of processes not configurable for PyTest"
The number of processes for PyTest is hardcoded for both [Vagrant](https://github.com/metacloud/molecule/blob/master/molecule/provisioners.py#L342) and [Docker](https://github.com/metacloud/molecule/blob/master/molecule/provisioners.py#L628) provisioners.

I ran into an issue where my test is validating a user's ability to stop/start/restart a service and these tests had unexpected results.  The i

[2016-06-21 15:01] kireledan commented on #192
Ahhh I see what you mean now. Makes sense - no worries!

It's open beta now actually as of yesterday.  https://www.docker.com/products/docker#/mac

[2016-06-21 15:07] sebinjohn commented on #192
@kireledan Thanks. I installed it.

[2016-06-21 19:37] kireledan commented on #193
There is no way to pass testinfra args/kwargs at the moment. I do agree that you should be able to though. I'll propose a PR with a way to pass them in.

[2016-06-21 20:40] kernelpanek-tendril commented on #193
@kireledan Thank you! I wanted to get a sense on whether anyone felt this would fit into the roadmap for Molecule before I started taking a crack at a PR.

[2016-06-26 21:28] michalgasek opened #199 "Multiple platforms support (--platform option not working)"
[code]

I would assume that Molecule would run `molecule test` for each platform listed in platforms but that doesn't seem to be the case. Below is my `molecule.yml` file.

[code]

When running `molecule test`:

Only `trusty64` platform is tested in Vagrant. I would expect Molecule to run tests for each platform listed in `platforms`.

When running `molecule test --platform=precise64`:

Still trus

[2016-06-26 22:02] michalgasek commented on #199
More observations:

`molecule create --platform=precise64` has desired behaviour:

[code]

After running above I ran `molecule converge` (without `--platform=precise64` option) and it worked just fine. I would expect that this command should fail at this point since the default platform is trusty64 and molecule should use `--platform=trusty64` as default.

Afterwards I ran `molecule converge --pla

[2016-06-26 23:32] retr0h commented on #199
Yeah, I don't recall why or what problems we encountered, but platforms needed to be targeted via `--platforms`.  It does not re-execute for each platform.

Pull requests always welcome.

[2016-06-27 00:11] conorsch commented on #181
Is running `vagrant ssh-config` any faster? The slowness you're describing is likely vagrant itself. Reading machine information from the YAML files on disk isn't as accurate, since the status info displays dynamic information such as machine state (e.g. "running").

Great point about the bash completion though. Can you provide example commands for what you're trying to tab-complete? If it's just

[2016-06-27 18:01] kireledan commented on #199
I was actually just about to fix this to work as @michalgasek thought it would. I ran into the exact same issue where I needed multiple providers. I'm a super big fan of doing it because testkitchen does this. But @michalgasek if you already started something I'll keep working on other things.

[2016-06-27 19:17] michalgasek commented on #199
@kireledan no I haven't started working on it, in fact I haven't browsed codebase even yet. I've just managed to browse docs to test Molecule for the first time yesterday trying to find a right tool for my Ansible roles testing, Molecule seemed like a cool thing to try out.

It would be greatly appreciated if you would fix the issues mentioned.

[2016-06-27 19:27] kireledan commented on #199
Yeah sure thing! Shouldn't take too long to fix this.

[2016-06-27 19:55] rgreinho commented on #181
Yes you're right, the slowness totally comes from vagrant itself.

The tab-completion for any command that can get the dynamic arguments through ``molecule status`` [0] is too slow (~3s to complete). This does not provide a good user experience.

As we are just looking for platforms, providers, or hosts, I think I could just use the molecule.yml instead of using the provider to retrieve this info.

[2016-06-28 18:57] retr0h commented on #110
This work was completed.

[2016-06-28 18:57] #110 closed

[2016-06-28 19:00] retr0h commented on #183
This should now be resolved.

[2016-06-28 19:00] #183 closed

[2016-06-28 19:00] retr0h commented on #192
@sebinjohn is this issue resolved?

[2016-06-28 19:25] kireledan commented on #192
Their PR has the change they made to fix the tox tests. I'd imagine this issue is safe to close.

[2016-06-28 19:29] retr0h commented on #192
@kireledan good call.  Closing.  @sebinjohn please re-open if still an issue.

[2016-06-28 19:29] #192 closed

[2016-06-28 19:42] abrown-sg opened #203 "Logger adding extra lines, prefixing them with -->"
logger.warning now appends --> to every line. This causes the output of things like ansible-playbook to have normally blank lines prefixed with -->, causing a lot of extra noise during a converge.  The _out for the sh calls to various programs doesn't need anything appended to it. @kireledan

<img width="986" alt="screen shot 2016-06-28 at 1 41 48 pm" src="https://cloud.githubusercontent.com/asset

[2016-06-28 20:22] kireledan commented on #203
I had it in there just for looks. I can take it out and make it only for molecule warnings.

[2016-06-28 21:18] conorsch commented on #203
Yes, I've encountered this building from the latest master. @kireledan It's not so much the `-->` that bothers me, it's the blank lines. Without looking at the code, it seems that there's an extra newline appended to output lines that isn't necessary.

[2016-06-28 21:20] kireledan commented on #203
I'll make a PR with something not as noisy.

[2016-06-28 22:31] retr0h commented on #199
Yeah, that would actually be a nice addition.

[2016-06-28 22:33] retr0h opened #204 "Update molecule's config syntax to be more like test kitchen"
This is a fairly tough job to merge into molecule, however, the config would benefit from following the test kitchen "syntax".  Especially b/c testing various scenarios would be beneficial.  I have started to [prototype](https://github.com/retr0h/maquina/blob/master/tests/conftest.py#L68-L95) this.

This would bump molecule to 2.x as part of the change.

[2016-06-28 23:13] kireledan commented on #199
Should we do a ```--platform all``` approach? Because if we don't then it would be better to get rid of the ```--platform``` flag.

[2016-06-28 23:14] kireledan commented on #204
Im a huge fan of this. 👍 👍 👍

[2016-06-28 23:27] conorsch commented on #199
Ditching the `--platform` flag would be a substantial change, and might surprise folks unnecessarily. It would also contradict the approach in #147, requiring that we instead default to appending platforms to hostname (which is test-kitchen's approach).

At the risk of sounding overly cautious, I'd say let's support a magic `--platform=all` var as a first step in migrating away from the single-pla

[2016-06-29 09:04] freeseacher opened #205 "Best place to define proxy var"
Hi!
In my playbook i have several tasks that have to be done with `http_proxy` var defined, and several without. So i have to setup proxy on per tasks basis.
I've done molecule init and have only one role in my playbook.
What is the best place to setup that variable?
i have several ideas for that:
1. for sure defaults/main.yml is bad location. because it breaks compatibility with multirole and set

[2016-06-29 14:31] sebinjohn commented on #192
👍

[2016-06-30 01:30] retr0h commented on #203
@kireledan sounds good!

[2016-06-30 20:24] #203 closed

[2016-07-01 10:15] freeseacher opened #214 "Place to setup ansible_python_interpreter"
I don't understand where i should put ansible_python_interpreter.
because FreeBSD use alternate path.

[2016-07-01 18:08] retr0h commented on #214
I don't believe you need to.  You could simply setup a virtualenv on the box running molecule.

[code]

[2016-07-01 18:20] retr0h commented on #205
#202 seems to be what you're looking for.

[2016-07-01 18:41] freeseacher commented on #214
that is my setup
[code]
so i am using freebsd
and i got this
[code]
so in the vm
[code]

[2016-07-03 02:11] retr0h opened #217 "Check mode introduces issue with `molecule test`"
Check mode from #201 introduces a bug with `molecule test` in the vagrant provisioner.  Does not appear to impact docker.

[code]

[2016-07-03 02:11] retr0h commented on #217
Assigning to @kireledan.

[2016-07-03 02:42] kireledan commented on #217
Oh interesting. I didn't notice any bugs with mine. I'll take a look when I get back from vacation this weekend.

[2016-07-03 04:54] retr0h commented on #217
Yeah, it looks to occur when the inventory file has been removed.  So removing the `.molecule/` directory triggers the bug.

[2016-07-05 06:25] abrown-sg commented on #214
Does something like this work?

[code]

[2016-07-05 06:44] abrown-sg commented on #214
It looks like #202 is probably what you're after so you can set vars by group or host rather than the hack I mentioned above.

[2016-07-05 08:03] freeseacher commented on #214
looks no. because ansible config applied for every host. but i need to define in only for frebsd instance

[2016-07-05 14:00] kireledan commented on #217
I can't seem to reproduce this. I've deleted my .molecule directory, but my ```molecule test``` still works.

[2016-07-05 15:50] abrown-sg commented on #214
So, while we wait for #202 to land, you can probably do something like the following:

molecule.yml:
[code]

playbook.yml
[code]

[2016-07-05 17:05] retr0h commented on #217
Have you tested with a vagrant provider?  I can't reproduce with docker.

[2016-07-05 17:06] kireledan commented on #217
Yeah. Im testing with a vagrant provider.

[2016-07-05 17:40] russ216 opened #220 "Openstack support"
Adding openstack as a provider utilizing the vagrant-openstack-provider plugin

[2016-07-05 17:44] dhutty commented on #220
I've already got some experimental work in place locally for this in the shape of a small patch to `templates/vagrantfile.j2`. But it needs to completed, tested, documented, etc.

[2016-07-05 18:07] kireledan commented on #220
So - it might be better to actually use shade for this because I've found that plugin to be finnicky. It would be much more maintainable to have it as an actual provisioner class. Currently I've started implementing an openstack provisioner because I need to run some of my tests on much more powerful machines.

[2016-07-05 18:09] dhutty commented on #220
@kireledan great, I would much rather have a real provisioner

[2016-07-05 18:16] russ216 commented on #220
@dhutty - that's exactly what I did locally as well, adjusted the `templates/vagrantfile.j2` I've got it on a fork of this repo in the meantime - thank you both for the suggestions, going to read up on shade now.

[2016-07-05 21:38] retr0h commented on #220
Using shade pretty much requires the user be using ansible 2.x to leverage the new `os` modules.  However, I much prefer to use an openstack provisioner built on top of ansible modules than vagrant.

[2016-07-06 05:43] retr0h commented on #217
Corrected in #222.

[2016-07-06 05:43] #217 closed

[2016-07-06 19:30] russ216 commented on #220
@retr0h - thanks for chiming in. Do you like the idea of adapting the `vagrantfile.j2` so that the vagrant-openstack-provider` can be used? (which would work for ansible 2.0 and also below). And then additionally explore using an openstack provisioner?

[2016-07-06 21:24] retr0h commented on #220
I'm not a huge fan of the vagrant file in general.  I understand we are all using it, but I'd prefer to leverage pure ansible if we can.  Sounded like @kireledan was working on something in pure ansible.

[2016-07-07 15:01] russ216 commented on #220
I like that idea too @retr0h - to have built in ansible support down the road. I think it would also be good to have the option to use vagrant, which is great for keeping your provisioning agnostic of the config management tool. And it works now, and would work in the future alongside the pure ansible approach

[2016-07-07 16:11] russ216 commented on #220
Okay - i'm going to also look into extending the provisioners to use shade for something like this. Thanks everyone for your input

[2016-07-07 17:13] kireledan commented on #220
Actually, Im not using pure ansible for this. I'm just using shade. My apologies for not being clear enough.

[2016-07-07 17:17] russ216 commented on #220
It looks like we can use the provisioner factory in `molecule/provisioners.py` and just extend it for shade - does that sound like what your approach is @kireledan ? Do you happen to have any WIP on this I could take a look at or try out?

[2016-07-07 17:22] kireledan commented on #220
Yes. I'm just about to make a PR of the WIP. Currently I have all of the molecule commands functioning. Just ironing out some bugs.

[2016-07-07 17:22] russ216 commented on #220
excellent, thank you. looking forward to checking it out!

[2016-07-08 13:52] dhutty commented on #204
I'm very much in favour of this, it was the original intent to be as close to test-kitchen's UX as made sense, to default to the kitchen UX and only deviate when necessary or for good reason. In reality, molecule 1.x UX is quite far from kitchen and this would be a breaking change for (almost?) every molecule.yml, so I agree that this is worth a major version bump.

And to go along with that we sh

[2016-07-08 13:56] dhutty commented on #205
@freeseacher please re-open if unsatisfied

[2016-07-08 13:56] #205 closed

[2016-07-08 22:34] retr0h commented on #93
Closing per @conorsch

[2016-07-08 22:34] #93 closed

[2016-07-08 23:03] retr0h commented on #123
@oserde Is this still an issue with the current libvirt work that was merged in #119?

[2016-07-08 23:04] retr0h commented on #128
Implemented in #201.

[2016-07-08 23:05] retr0h commented on #193
Implemented in #198.

[2016-07-08 23:05] #193 closed

[2016-07-08 23:08] conorsch commented on #128
@retr0h The `--check` and `--syntax-check` arguments to ansible-playbook are distinct—looks like #201 adds the `--syntax-check` functionality as `molecule check`. That's fine, but it's not the same thing as `--check`, which performs a dry-run of the playbook.

[2016-07-09 01:08] retr0h commented on #128
Opening

[2016-07-09 09:49] techraf opened #229 "How to? Testing different variable sets"
I just had an error in Jinja2 template which appeared only when a list (variable) had only one item (while in defaults and in my test case I used two items).

What would be the canonical way to test with Molecule against different variable sets?

[2016-07-09 15:57] kireledan commented on #229
If you set the hostvars of two different machines running the same playbook that would do the trick. Unless you are talking about vagrant options?

[2016-07-10 04:20] #229 closed

[2016-07-11 22:41] techraf opened #230 ""needless argument: --debug=None" when running Serverspec tests"
Seemingly after upgrade to Molecule 1.6.3 from 1.6.2 Serverspec tests fail with:

[code]

All tests which passed before now throw this error. I use Serverspec 2.36.0.

Any idea?

[2016-07-11 22:47] retr0h commented on #230
Corrected at #227.

[2016-07-11 23:13] retr0h commented on #230
Hi @techraf, fix has been pushed to pypi (1.7.0).

[2016-07-11 23:13] #230 closed

[2016-07-12 14:15] russ216 commented on #220
This pull request addresses this issue for me. everything is running great with no vagrant. Only stipulation for me, was we are not accepting ipv6 yet, so needed to use `os-client-config` to `force_ipv4`. Shade already takes this into account. Vagrant must have just used the v4 by default or I got lucky #226

[2016-07-13 22:04] techraf opened #232 "What has happened to Serverspec templates?"
I was trying to figure out what has happened to Serverspec templates. When I first started with Molecule they were present (i.e. put into to project directory with `molecule init`), now they are not. The change happened around 1.4.1-1.4.2.

Was the Serverspec intentionally withdrawn?

[2016-07-13 22:36] retr0h commented on #232
Yes, testinfra is the default.  You are free to use serverspec, but we no longer write templates.

[2016-07-13 22:41] techraf commented on #232
Ok, but is it possible to provide my own Serverspec templates that `molecule init` would place in a new project, or do I have to copy them manually?

[2016-07-14 15:39] kireledan opened #233 "[Feature Suggestion] Init with existing role/playbook"
So I was thinking about adding support for using init with existing roles/playbooks. Essentially this would just place a template molecule file in the current directory. Some of the more interesting things I was thinking about is being able to parse the roles in a playbook directory and place them into the generated playbook too so that they are instantly available to run.

Anyone else feel like t

[2016-07-16 04:08] retr0h commented on #145
Appears to be up to date, please reopen if untrue.

[2016-07-16 04:16] retr0h commented on #232
Hi @techraf no we do not.  Since testinfra is the default, we (mostly me) left it up to the user to copy the templates over.

While we support serverspec, we are being somewhat opinionated with `init`.

[2016-07-16 04:16] #232 closed

[2016-07-16 04:17] retr0h commented on #214
@freeseacher was your question answered?

[2016-07-16 04:18] retr0h commented on #148
@skornehl I believe we had a bug some time ago that was corrected.  Are you still having this issue on 1.7 series?

[2016-07-16 05:48] retr0h commented on #148
Wow @skornehl my apologies.  Not sure how I missed this issue for sooo long.

I have submitted a PR to correct this issue.  You will need to update your `molecule.yml` to make this work properly, since we no longer span the tree for any py files.  We are being prescriptive with tests matching `test_*.py`

[code]

[2016-07-16 06:00] retr0h commented on #181
@rgreinho Is this still an issue?

[2016-07-16 06:03] retr0h commented on #180
This should have been corrected with #183.  @rgreinho can you confirm?

[2016-07-16 09:21] techraf opened #235 "Cannot login to a machine if its name is a substring of another one"
Not a big deal, but if I define two machines:
- `molecule-host`
- `molecule-host-mirror`

And execute:
[code]

I get an error:
[code]

And there is no way to connect to `molecule-host`.

[2016-07-16 09:36] techraf commented on #232
I did not ask that **you** copy (why "we do not" form?), I asked if there is a way to provide my own template. I don't see a huge support issue in this: `spec` subdirectory exists in template directory? --> Copy. Not? --> Forget (which would be a default option).

The phrase "we are being somewhat opinionated with `init` and molecule in general" is incomprehensible.

[2016-07-16 13:21] techraf commented on #199
I am confused.

- The first post claims `--platform` argument is ignored when running `module test`.
- The title mentions two things "Multiple platforms support (--platform option not working)".
- The merge added `all` option which tangentially addresses first part of the title.

Why was this closed?

The issue described (`--platform` ignored when running `test`) is still a problem in current 1.7.

[2016-07-16 14:49] kireledan commented on #199
I will investigate the platform flag issue. It seems that we mistakenly only focused on your comment about behavior with testing multiple platforms. Last time I checked, it appeared to be working for me when specifying a platform.

[2016-07-16 19:19] retr0h commented on #233
Sounds useful.

[2016-07-16 19:21] retr0h commented on #232
*No*

[2016-07-16 22:52] retr0h opened #236 "Switch to py.test"
Once #226 lands, work on moving to py.test.

[2016-07-16 23:11] retr0h opened #238 "Implement a state object"
Implement a state object that manages serialization/deserialization of the state file.  Currently there is too much involved when working with the state file.  Clean up the API around state, so it's easier to work with.

[2016-07-16 23:16] retr0h commented on #220
Implemented in #226.

[2016-07-16 23:16] #220 closed

[2016-07-17 01:32] kireledan commented on #236
Yeah on that note I was going to work on adding some more tests so that we don't have to rely on the demo playbook so much.

[2016-07-17 05:53] retr0h commented on #145
Yeah, doesnt look like they are getting rebuilt.

[2016-07-17 11:21] dj-wasabi opened #243 "OSError: [Errno 21] Is a directory: '.molecule/group_vars' when setting group_vars in molecule.yml"
Hi,

I'm using Molecule (1.7.0) with a Docker backend
I've set the following in my molecule.yml file:

[code]

When I execute a `molecule` command, I get the following error message:
[code]

It has created the group_vars directory and the files in it.
I don't understand why it is complaining? Any ideas?

Thanks in advance

[2016-07-17 12:01] kireledan commented on #243
I have encountered this before - currently working on a patch to fix it. Molecule updates group_vars and checks for a symlink, but it proves to be problematic at times for doing both.

[2016-07-17 22:14] retr0h commented on #243
Ya, I'm not a huge fan of the symlink feature.

[2016-07-18 06:22] sebinjohn opened #245 "turn off automatic update during molecule test"
Docker provisioner always tries to update the image to make it ansible compatible.
Is there a way I can turn this off so that a prebuilt image from a local registry can be used for testing?

This can speed up the testing process.

[2016-07-18 14:01] kireledan commented on #245
There is currently no way to turn it off. However, I will make a PR to add a flag to skip-build for the docker driver.

[2016-07-18 17:31] #236 closed

[2016-07-18 18:10] #148 closed

[2016-07-18 20:59] retr0h commented on #145
The webhook has been enabled.  I see it updating docs on merge now.

<img width="811" alt="screen shot 2016-07-18 at 1 59 08 pm" src="https://cloud.githubusercontent.com/assets/9895/16930179/dbc44758-4cef-11e6-9424-505f5dcecb91.png">

[2016-07-18 20:59] #145 closed

[2016-07-18 21:03] retr0h commented on #245
Implemented in #246.

[2016-07-18 21:03] #245 closed

[2016-07-18 21:05] retr0h commented on #235
Implemented in #248.

[2016-07-18 21:05] #235 closed

[2016-07-18 21:14] retr0h opened #250 "Port libvirt from vagrant plugin to a true provisioner"
Would like to remove libvirt from vagrant and use ansible as the provisioner, much like we do with the openstack provisioner.

Essentially, I only want vagrant used for ~~vagrant~~ virtualbox.

[2016-07-18 21:23] retr0h commented on #233
Implemented in #249.

[2016-07-18 21:40] retr0h opened #252 "Openstack docs aren't rendering properly"
http://molecule.readthedocs.io/en/latest/provisioners.html#openstack-provisioner

[2016-07-19 02:58] kireledan commented on #252
oh my. I'll fix this

[2016-07-19 14:28] kireledan commented on #243
Actually - looks like my patch was merged in with #226 . I just tested your yaml and got no errors.

[2016-07-19 15:27] dhutty commented on #250
You mean you want vagrant only used for virtualbox?

[2016-07-19 15:56] kireledan commented on #250
I believe that is what he meant. I couldn't imagine it being anything else.

[2016-07-19 16:02] retr0h commented on #250
ya

[2016-07-19 16:07] dhutty commented on #250
I'm going to poke at this a little, investigate how it long it will take me, see if there are any nasty rabbitholes, etc.

[2016-07-19 18:18] #238 closed

[2016-07-19 18:19] retr0h commented on #252
Corrected in #255.

[2016-07-19 18:19] #252 closed

[2016-07-19 18:19] retr0h commented on #243
Will close once we cut a 1.8.0 to pypi.

[2016-07-20 00:20] retr0h commented on #214
Closing.  Please re-open if you still have issues.

[2016-07-20 00:20] #214 closed

[2016-07-20 00:21] retr0h commented on #180
@rgreinho I believe this is no longer the case.  Do you mind verifying.

[2016-07-20 00:21] retr0h commented on #123
Closing.  Please re-open if still an issue.

[2016-07-20 00:21] #123 closed

[2016-07-20 00:22] retr0h commented on #131
Since serverspec is no longer the default test suite.  I am going to close this.  Please re-open if still an issue.

[2016-07-20 00:22] #131 closed

[2016-07-20 00:25] retr0h opened #256 "move commands into directory"
The commands class is huge, lets move it into a directory and improve the test coverage.

[2016-07-20 04:16] dj-wasabi commented on #243
I try to test this tonight. Thanks!

[2016-07-20 13:33] moh-abk opened #258 "ServerSpec support"
It's mentioned that molecule supports `serverspec` but it's more biased towards `testinfra`.
For starters it doesn't create the `/spec` folder when `init` is run. Also I don't think it installs `serverspec`.

**Feature/Improvement Request.**

Thanks 👊

[2016-07-20 14:22] moh-abk commented on #233
This doesn't create the `./molecule` directory and files so getting this error when I run `molecule test`

`IOError: [Errno 2] No such file or directory: u'.molecule/state.yml'`

[2016-07-20 14:25] rgreinho commented on #180
@retr0h Just did a small testing using the tab completion, and no error was displayed in the terminal, so it looks like we're good!

[2016-07-20 14:25] #180 closed

[2016-07-20 15:41] kireledan commented on #233
I'll look into this really quickly.

[2016-07-20 16:27] dj-wasabi commented on #243
Its working with the `1.7.1.dev21`. Thanks!

[2016-07-20 16:51] alop opened #259 "molecule init doesn't create tests directory"
[code]

[2016-07-20 17:03] kireledan commented on #259
I am unable to re-create this. What version are you running?

[2016-07-20 17:05] alop commented on #259
molecule -v
1.7.0

[2016-07-20 17:16] kireledan commented on #259
Odd. I've tried creating a new environment and installing from pip and also checked out the 1.7 branch. I'm still unable to recreate this error. I'll go ahead and add a check for the directory before making the test defaults to ensure this error does not pop up again for you in later versions.

[2016-07-20 17:16] alop commented on #259
no, looks like it was my env.

[2016-07-20 17:38] retr0h commented on #243
Closing \o/

[2016-07-20 17:38] #243 closed

[2016-07-20 18:23] retr0h opened #260 "Move to anyconfig"
Move off custom dict merging code to [anyconfig](https://github.com/ssato/python-anyconfig).

[2016-07-20 19:06] hectcastro commented on #199
I can confirm that `--platform` appears to be getting ignored on 1.6.3 and 1.7.0.

**molecule.yml**

[code]

**Test**

[code]

Note that I asked for `xenial64`, but it is importing the `ubuntu/trusty64` base box.

[2016-07-20 22:39] #256 closed

[2016-07-20 22:41] retr0h commented on #258
It is specifically biased towards testinfra.  Serverspec can be used, but we aren't planning on making it part of init.

[2016-07-20 22:41] #258 closed

[2016-07-22 01:16] retr0h commented on #259
Readdressed by #261.

[2016-07-22 01:16] #259 closed

[2016-07-22 01:17] retr0h commented on #233
Addressed with #261.

[2016-07-22 01:17] #233 closed

[2016-07-22 01:19] #260 closed

[2016-07-22 01:22] retr0h opened #269 "Create integration tests"
We need to create `tests/integration` that run a set of scenarios to ensure molecule is working as expected.

Being able to test molecule as a whole is tricky, due to various providers, provisioners, sequences, and doing this with unit tests seems overly ambitious.

[2016-07-22 13:34] kireledan commented on #269
I've been slowly working on tests for the commands to increase coverage. integration tests should be farely simple to do for each driver because the only thing majorly different would be the config file.

[2016-07-22 18:24] retr0h commented on #269
Yeah, I feel like we need something which runs molecule test across each provisioner, with custom molecule.yml scenarios to ensure all is working.

[2016-07-22 20:30] alexschlessinger opened #272 "serverspec support for docker backend"
currently the rakefile seems tied to vagrant? (testinfra works fine)

[code]

[2016-07-22 20:37] retr0h commented on #272
IIRC, when docker support was implemented in molecule.  Probably something we should investigate again.  Serverspec should have a docker backend.

[2016-07-22 20:42] dbryant4 opened #273 "Add support for Docker port bindings"
I want to be able to forward ports from my local machine to services running in the docker containers. docker-py already supports configuring [port_bindings](https://github.com/docker/docker-py/blob/master/docs/port-bindings.md).

I propose adding a new key to the container config in `molecule.yml` called `port_bindings`.

An example `molecule.yml` might look something like this:
[code]

[2016-07-22 20:57] retr0h opened #275 "Molecule init broken"
Molecule init broke with the addition of  #260.  Since this is on master (which is currently a develop branch it is not critical).  We have the `stable/1.x` brach for bug/hotfixes.

[2016-07-22 21:23] retr0h commented on #199
@kireledan mind taking a look at this one?  We would want to fix it against `stable/1.x branch`, then backport to master.

[2016-07-23 14:29] kireledan commented on #199
Yeah sure thing. Oddly enough, last time I was testing it was working just fine.

[2016-07-23 14:31] kireledan commented on #272
Yeah - at the time I was not too focused on integrating with serverspec. I'll investigate this.

[2016-07-25 10:39] freeseacher commented on #214
so. can you please add some example with two boxes.
* debian/jessie64
* freebsd/FreeBSD-11.0-BETA2
that will work without changing molecule.yml for every test
my current file is

[code]
what files i should change for it ?

[2016-07-25 18:14] abrown-sg opened #278 "Trap Ctrl-C and exit cleanly"
If you ctrl+c out of molecule, you end up with a stack trace. We should follow the lead of others and instead exit clean. Should be able to accomplish this in a straightforward way by registering a SIGINT signal handler. Thinking probably in core, or possibly cli.

[2016-07-25 18:33] rjfellman opened #279 "Configure for both vagrant and openstack - add a switch"
I'd like to leave openstack config and vagrant config alongside each other for a few reasons. It would be handy if there was a way to either do something like

`molecule test --provisioner=openstack` or have a config option to set where it could pick your config. vagrant, openstack, docker etc.

[2016-07-25 18:50] #275 closed

[2016-07-25 20:57] abrown-sg opened #281 "Passing CLI flags to --test seems to be broken"
Here's an example from current master in demo/molecule:

[code]

[2016-07-25 21:14] retr0h commented on #281
Looks like a dupe of https://github.com/metacloud/molecule/issues/199.

[2016-07-25 21:20] retr0h commented on #281
Closing as dupe.

[2016-07-25 21:20] #281 closed

[2016-07-25 23:33] retr0h commented on #199
Cherry picked to stable/1.x branch. Will close once we release a 1.8.3 molecule.

[2016-07-26 07:08] abrown-sg opened #284 "Molecule commands are broken when specifying an ansible.cfg file"
When attempting to do a `molecule destroy` in a role where molecule.yml points to a custom location for ansible.cfg, the following error is produced:

[code]

The relevant values in molecule.yml are:

[code]

[2016-07-26 21:04] retr0h commented on #273
Implemented in #273.

[2016-07-26 21:04] #273 closed

[2016-07-26 21:05] retr0h commented on #199
Released 1.8.3 to pypi today.

[2016-07-26 21:11] retr0h commented on #199
Still not fixed.

[code]

[2016-07-26 21:15] retr0h commented on #284
It's simply relative to the `molecule_dir`.

Works as expected if changing to

[code]

[2016-07-27 06:33] dj-wasabi opened #288 "Download dependencies"
Hi,

One of my ansible roles has some dependencies on other roles. So I have to execute `ansible-galaxy install -r requirements.yml` before running the `molecule test` the ansible-galaxy command to download the dependencies.

Is it possible to let molecule handle this dependencies downloading?

So if for example we have this in the molecule.yml file:
[code]
Within the `converge` step it can downlo

[2016-07-27 14:08] kireledan commented on #288
actually, molecule can already do this. Use the ```requirements_file``` option instead of requirements. We'll make this known in the documentation.

[2016-07-27 14:46] dj-wasabi commented on #288
Thanks! (Didn't know)

[2016-07-27 16:03] dhutty opened #289 "molecule has lots of dependencies"
Molecule should try: import foo the modules that are needed for each provisioner and only error if you attempt to use a provisioner that's not available.

[2016-07-27 16:40] ebeahan opened #290 "Update README to call out Docker support"
Quick start instructions demo the Docker functionality, but the overview in `README.rst` doesn't mention Docker support only Vagrant and the Vagrant providers. On my initial viewing of the repo I found that confusing until I went into the documentation.

[2016-07-27 17:50] retr0h commented on #289
What do you mean @dhutty?  The requirements file brings in the necessary dependencies.  The tests  will be testing all the dependencies.  So unfortunately if you don't have docker installed on your system, you wont be able to run unittests.  Just the nature of the beast.

Can you give more details?

[2016-07-27 18:52] dhutty commented on #289
Sure, if you want to test molecule itself. But if I want merely to *use* molecule, I don't necessarily want to bother installing, for example, all of the openstack deps if I'm never going to use it because I'm, say, a virtualbox user.

[2016-07-27 18:55] kireledan commented on #289
You do have a point - it is a bit much to have all of those dependencies if the user only wants to use a specific driver. This is definitely something we should look into.

[2016-07-27 19:24] retr0h commented on #289
But what does it hurt?  They are python dependencies as the projects dependencies.  How does this matter?  The python dependencies shouldn't be anywhere else but in the requirements file for setup.py.

[2016-07-28 04:02] pgporada opened #291 "Idempotence plugin was not found or did not provide the required information."
Molecule version
[code]

Host details
[code]

molecule.yml
[code]

I can run `molecule converge` but not `molecule idempotence`. When I try to, I receive the following message.

[code]

[2016-07-28 07:20] retr0h commented on #291
Does the file exist?

`/usr/share/molecule/ansible/plugins/callback/idempotence`

[2016-07-28 18:32] pgporada commented on #291
@retr0h
It does not. I installed molecule per the README.md.

[code]

Additionally,  bash completion does not work and the completion file does not exist.

[2016-07-28 18:48] kireledan commented on #291
I've had this occur - it has to do with the ansible installation on specifc distros. I wish I knew how to resolve this because it's supposed to be bundled with ansible.

[2016-07-28 19:01] retr0h commented on #291
Lets see what @rgreinho has to say.  He implemented both of those features.

[2016-07-28 19:18] retr0h commented on #279
That is likely an issue that will be addressed with #204.  However, that is some time away, with a v2 molecule release.

[2016-07-28 19:22] retr0h commented on #114
I'm going to close this out for now.

Mostly b/c we are no longer testing openstack with vagrant so this feature isn't something we need any longer.

[2016-07-28 19:22] #114 closed

[2016-07-28 19:48] rgreinho commented on #291
Yes, if you are using OS X, it looks like the files are not extract at the right location.

For the bach completion, here is the documentation to install it: https://github.com/metacloud/molecule/blob/master/docs/source/usage.rst#os-x-users

You can proceed in a similar way to add the idempotence plugin.

[2016-07-28 20:27] #290 closed

[2016-07-28 21:18] pporada-gl commented on #291
@rgreinho
I am using the following host system
[code]

[2016-07-28 21:22] pgporada commented on #291
@rgreinho
I am using the following host system
[code]

[2016-07-28 22:51] rgreinho commented on #291
Then I guess you installed molecule in a venv. In that case, the venv will be the prefix of installation paths.

In my case, my venv is ``~/.virtualenvs/molecule-extras``, therefore I can find the plugin there: ``~/.virtualenvs/molecule-extras/share/molecule/ansible/plugins/callback/idempotence/idempotence.py``

Same thing for the bash completion: ``/Users/regreinh/.virtualenvs/molecule-extras/etc

[2016-07-29 13:10] pgporada commented on #291
@rgreinho
I have no virtual env.
[code]

Even when installing it as follows, the bash completion and idempotence plugin is missing.
[code]

[2016-07-29 13:57] rgreinho commented on #291
What about using the ``find``command to find where the files are? They are part of the package, therefore they must be somewhere on your system.

[2016-07-29 14:06] pgporada commented on #291
@rgreinho
No luck friend. I've searched the entire filesystem.
[code]

[2016-07-29 14:32] pgporada commented on #291
Bah, find doesn't traverse filesystem boundaries. Sorry about that. Regardless, I can't find either of those files on my system no matter how I `find`

[2016-07-29 18:48] retr0h commented on #199
Close once #287 backported to stable stable/1.x and released to pypi as 1.8.4.

[2016-07-29 19:59] retr0h opened #296 "Vagrant tests do not cleanup after themselves"
The [vagrant provisioner](https://github.com/metacloud/molecule/blob/master/tests/provisioner/test_vagrantprovisioner.py#L63-L64) tests do not cleanup after themselves.

[2016-07-29 21:20] moh-abk opened #297 "Molecule broken - ansible v2.1.1.0"
Molecule version: `1.8.3`
Command: `molecule test`

The latest version of molecule is broken. I first tried with my roles and then I cloned the molecule repo and tried with the demo and go the same error.

[code]

[2016-07-29 21:29] retr0h commented on #297
Works here.

[code]

[2016-07-29 21:37] moh-abk commented on #297
works with `ansible-2.0.2.0` not `ansible-2.1.1.0` just tested now :(

[2016-07-29 22:34] retr0h commented on #297
@moh-abk ok confirmed, thanks!

[2016-07-29 22:55] retr0h commented on #297
Looks like the problem is with the syntax command.  We need to pass the env to syntax so it can find the role.

[2016-07-30 14:25] kireledan commented on #297
Ahh cool. I was wondering why this was happening. I ran into this yesterday too

[2016-07-30 15:14] rgreinho commented on #291
@pgporada I'm really sorry, I am not able to reproduce the issue. Whichever way I install molecule, I can find the plugin and completion files on my system.

Maybe another member can try to reproduce this issue?

[2016-07-30 17:50] kostyrevaa commented on #297
@moh-abk Actually, it **does not** work with ansible **2.1.0.0**
[code]

[2016-07-30 18:52] retr0h commented on #297
Ansible must have changed ever so slightly.  However, 2.1.0.0 does work when ran manually.

`ANSIBLE_ROLES_PATH=../ ansible-playbook playbook.yml -i .molecule/ansible_inventory`

We must not be passing the right env to our ansible playbook class.

[2016-07-30 18:53] retr0h commented on #297
I'm thinking we need some basic setup/teardown integration tasks across various ansible versions we support.

[2016-07-30 19:16] kostyrevaa commented on #297
sorry, I was wrong. Indeed it does.

[2016-07-30 20:15] kostyrevaa commented on #288
@kireledan @dj-wasabi
Specifying `requirements_file` and running `molecule test` does not get along.
It tries to check the syntax on playbook with roles not yet installed.
see this [travis log](https://travis-ci.org/kostyrevaa/ansible-koji-db#L6646) for example

[2016-07-30 22:04] retr0h opened #299 "Molecule tests broken in ansible v1.9.x"
Ansible 1.9.x cannot have a playbook in dict form.  2.x series seems to handle this.  The work performed in #298 discovered this bug.

[code]

[2016-07-30 22:06] retr0h commented on #291
@pgporada what version of python?

[2016-07-30 22:06] retr0h commented on #291
@pgporada I'll spin up a Xenial vm and take a look later.

[2016-07-31 05:28] retr0h opened #300 "Ability to target docker hosts"
We cannot [target](https://github.com/metacloud/molecule/blob/master/demo/molecule/tests/test_demo1.py#L1-Lundefined) docker hosts in testinfra like we can when using the ansible backend.
This was discovered while creating #298.

The problem is due to our docker driver passing all hosts to testinfra via the `--hosts` flag.  This forces all test files to execute across all hosts.

[2016-07-31 17:13] kireledan commented on #288
Ahh yes that would cause some issues. Perhaps moving the dependency to syntax check would be the solution then.

[2016-07-31 18:30] kostyrevaa commented on #299
Who needs 1.9.x anyway?

[2016-07-31 21:42] retr0h commented on #299
We use it ;)  Also, it isn't end of lifed.

[2016-07-31 23:24] #269 closed

[2016-08-01 04:32] retr0h commented on #291
Appears to have worked for me.

[code]

[code]

[2016-08-01 14:40] kireledan commented on #297
Adding ```../../``` to the roles path of the default ansible.cfg is a fix, but why is it suddenly relative to the tasks folder?

[2016-08-01 17:09] #296 closed

[2016-08-01 17:54] #299 closed

[2016-08-01 21:51] retr0h commented on #272
We have a functional scenario already setup, where you can integrate the docker serverspec tests.

https://github.com/metacloud/molecule/tree/master/tests/functional/docker/scenarios/full/spec

[2016-08-01 22:29] retr0h commented on #300
Raised upstream https://github.com/philpep/testinfra/issues/120

[2016-08-02 00:11] retr0h commented on #297
Tracking the ansible bug upstream https://github.com/ansible/ansible/issues/16911.

We will need to cut a 1.8.4 release off the stable/1.x branch.

[2016-08-02 01:24] retr0h opened #311 "Syntax check broken on ansible 1.9.6."
#310 Introduced a vagrant init functional test.  This appears to be broken in ansible 1.9.6 when checking playbook syntax.

[code]

[2016-08-02 03:01] retr0h commented on #311
Guess it isn't an issue.  Cannot reproduce again.

[2016-08-02 03:01] #311 closed

[2016-08-02 06:38] retr0h opened #312 "Leverage ansible modules"
### Crazy idea

What if, instead of us writing python code to handle the lifecycle of Docker, OpenStack, Libvirt instances/containers, etc...  We simply update molecule to run ordered sets of playbooks.

We will never be able to keep up with the pace of the functionality in the ansible modules.
#### Proposal

Molecules core will generally stay the same.  However, it can run scenarios and various s

[2016-08-02 13:47] dhutty commented on #312
This is not a crazy idea. In my understanding, this has been the intended to (eventually) be molecule's approach for ages.

If we want to do it as a one-off architectural change and still retain existing molecule functionality, we will need to:
* wait until Molecule completely supports Ansible v2
* assess Ansible support each of our intended virtualization providers: Vagrant (+ whatever), Openstac

[2016-08-02 14:12] kireledan commented on #312
Interesting... I do like the idea of using ansible to put up the machines instead of python. Would definitely be much cleaner and waay easier to maintain.

[2016-08-02 17:33] retr0h commented on #297
1.8.4 released to pypi.

[2016-08-02 17:33] #297 closed

[2016-08-02 17:35] retr0h commented on #288
What do you mean?

[2016-08-02 17:40] abrown-sg commented on #312
I like this idea as well. And we can leverage converge command to execute other playbooks with minimal effort. The closed triggers PR has an example of it.

[2016-08-02 18:21] kireledan commented on #312
Also this can allow users to plug in their own provisions plays too potentially. As long as molecule can read the inventory, it can test against it.

[2016-08-02 19:04] retr0h opened #314 "Skip tests if docker executable isn't installed"
We already have the hooks in place.  Just need to wire them in for docker executable missing.

[2016-08-02 20:51] #314 closed

[2016-08-02 21:10] kostyrevaa opened #317 "Fedora 24 support"
with `1.8.3` I can't use Fedora 24 as a target platform.
It blows with:
[code]
`molecule.yml`:
[code]
`docker -v`
[code]

[2016-08-02 21:15] rgreinho commented on #291
Closing as we cannot reproduce the issue.

[2016-08-02 21:42] retr0h commented on #317
Looks like that container wasn't baked with a command to execute.  On the master version of molecule you can update your `molecule.yml` with a `command`.

See our [docs](http://molecule.readthedocs.io/en/latest/provisioners.html?highlight=docker#docker-example).

[2016-08-02 22:02] kostyrevaa commented on #317
So to use molecule in Travis I need to install it from [source](http://molecule.readthedocs.io/en/latest/usage.html#installing-from-source) onto travis vm?

[2016-08-02 23:03] #300 closed

[2016-08-02 23:04] retr0h commented on #317
Until we release molecule `1.9` to pypi.

[2016-08-02 23:37] retr0h commented on #199
Closing we will release this fix to pypi as 1.9.0.  Back porting this is going to be troublesome.

[2016-08-02 23:37] #199 closed

[2016-08-03 08:23] freeseacher opened #324 "Goss support"
https://github.com/aelsabbahy/goss looks very interesting
Can you please add support for running goss for tests ?

[2016-08-03 18:14] #284 closed

[2016-08-04 11:17] tknerr commented on #289
test-kitchen does this via additional drivers that can be installed as plugins. Something like this would be nice. Eg I don't need all the openstack dependencies while I'm not going to use them. They should be optional.

[2016-08-04 11:27] tknerr opened #328 "Option to disable Serverspec / Testinfra tests"
I switched the `testinfra_dir` to "spec" because I'm using the pytest-spec formatter, and naming it spec is more natural for me ;-)

[code]

Now this fails because it believes there are also serverspec tests in it, but I don't even have rubocop and serverspec installed:

[code]

It would be nice if there were a flag in the config to disable the serverspec / rubocop / testinfra validators.

Workaro

[2016-08-04 11:35] tknerr opened #329 "Switching to Testinfra SSH connection does not work as expected"
I was hoping to be able to simply switch the testinfra backend connection to SSH.

So I did:

[code]

However, this still passes the ansible inventory but neither of the actually required ssh parameters:

[code]

Imho, when switiching to `connection: ssh` the following should happen:

 * correct `--hosts` and `--ssh-config` flags are passed (as a sane default `.molecule/.vagrant/ssh-config` should

[2016-08-04 11:37] tknerr commented on #329
...actually not quite sure whether `.vagrant/ssh-config` is actually coming from vagrant, or even molecule..

[2016-08-04 12:11] tknerr commented on #329
Ok.. so the `.vagrant/ssh-config` is actually created by molecule during `molecule verify`. However, it looks like it's not being picked up automatically.

Also worth noticing that in my case the `.vagrant` directory is being created directly under `<project_root>` directly, i.e.

 * there is `<project_root>/.molecule` and `<project_root>/.vagrant` side-by-side
 * ...but shouldn't it be `<project_

[2016-08-04 12:41] tknerr opened #330 "First `molecule converge` always fails, next one succeeds"
Don't know why yet, but the very first `molecule converge` always fails to connect via SSH. Subsequent calls to `molecule converge` succeed.

Timing does not matter, e.g. `molecule create` + wait 1 minute + `molecule converge` fails as well as `molecule test`

This is molecule 1.8.4

Here is how it looks:

[code]

[2016-08-04 12:54] tknerr commented on #330
Some more bits: I'm passing `ANSIBLE_SSH_ARGS` explicitly.

[code]

However, when I run `molecule converge --debug`, I see that the ANSIBLE_SSH_ARGS are actually overwritten with the defaults from `raw_ssh_args`:

[code]

Maybe there is a better way for this rather than just overwriting the `ANSIBLE_SSH_ARGS`. I also had `ANSIBLE_SSH_ARGS` set to some sane defaults in `~/.bash_profile`, but they a

[2016-08-04 13:28] tknerr opened #331 "Support for global ~/.molecule.yml File"
It would be nice if we could define some defaults in a global `~/.molecule.yml` or similar file, that would be merged with every project specific `molecule.yml`.

E.g. for setting some defaults for the ansible `raw_ssh_args` in a single / central place

[2016-08-04 13:53] kireledan commented on #331
I like this. Lemme see what I can do to get this in quickly.

[2016-08-04 13:58] kireledan commented on #331
Actually - you can put some global defaults in ```~/.config/molecule/config.yml```. This config file has a lower priority than the local project config, but a higher priority than the package defaults. Hope this helps!

[2016-08-04 14:03] kireledan commented on #328
I can definitely see a reason to skip those. For now, you can actually just skip the verify in test by customizing the test cycle.
[code]
You can put in every step except for verify in either your local config(```~/.config/molecule/config.yml``` or project config to skip the verify step.

[2016-08-04 15:46] tknerr opened #332 "Molecule checks playbook syntax too early (before requirement.yml is resolved)"
Using a `requirements.yml` like that:

[code]

With this `molecule.yml`:

[code]

When I run `molecule test`, it fails because it can not find the "timezone" dependency role:

[code]

Imho it should first resolve the dependecies via `ansible-galaxy`, then check the playbook syntax.

[2016-08-04 15:50] tknerr opened #333 "More control over ansible-galaxy flags / args"
Usually I keep the `roles` dir for my own, and resolve dependencies to `role-deps`, e.g. like that:

[code]

Would be nice if molecule would give more control over the ansible-galaxy flags / args, so we have more control where the dependencies are resolved.

Another example would be adding the `--ignore-certs` flag, which is kind of mandatory to make galaxy work behind a proxy, etc..

[2016-08-04 15:51] tknerr commented on #333
Wondering: are there maybe some specific `ANSIBLE_GALAXY_*` env vars that we could pass in via `raw_env_vars` in the meantime?

[2016-08-04 17:05] #272 closed

[2016-08-04 17:08] retr0h commented on #329
Since this is an ansible project, and we are testing a server built by molecule.  We are using the ansible backend.  Using another backend isn't supported.

[2016-08-04 17:10] #331 closed

[2016-08-04 17:11] retr0h commented on #289
@tkimball83 @kireledan @dhutty at some point we will break things out into plugins.  The project is in it's early stages.  It's too premature ATM.

[2016-08-04 17:12] retr0h commented on #332
Duplicate of #288.

[2016-08-04 17:13] retr0h commented on #288
Closing in favor of #332 which has more details.

[2016-08-04 17:13] #288 closed

[2016-08-04 17:15] retr0h commented on #328
We have already stated before we aren't going to disable serverspec / rubocop / testinfra validators.  Molecule is opinionated.  Doing things differently is going to have limited mileage.  We can't account for every use case.

[2016-08-04 17:15] #328 closed

[2016-08-04 17:18] retr0h commented on #330
Whats the harm in setting them via `raw_ssh_args` ?

[2016-08-04 17:22] retr0h commented on #330
As for the original bug report.  I've never seen this before.   We have been using the project since inception, and never run into an issue similar to this.  However, molecule has never been tested on a cygwin environment.

[2016-08-04 17:27] dhutty commented on #329
@tknerr If you want to implement this, we would be interested in adding it, but adding support for non-Ansible testinfra backends is not a priority.

[2016-08-04 18:55] tknerr commented on #329
Ok I see, misread this [in the docs](https://molecule.readthedocs.io/en/master/usage.html#testinfra). I can live on with my current workaround for now, but as soon as I add more than 1 instance I might probably give it a shot.

Actually the reason I was looking for the testinfra ssh backend was that I didn't get the ansible backend to work. Can also give that another try...

[2016-08-04 18:58] tknerr commented on #330
@retr0h yes it's a special feature of cygwin to not support ssh connection sharing, that's why you need to turn it off :-/

Setting `raw_ssh_args` is not an issue and does the trick for me now, it was just surprising that it overrides any `$ANSIBLE_SSH_ARGS` that you might have already set in your environment

[2016-08-04 18:59] tknerr commented on #331
@kireledan sweet, exactly what i was looking for! will give it a try :)

[2016-08-04 19:00] tknerr commented on #332
Workaround is to manually put the `syntax` check after the `converge` step:

[code]

Maybe you can even add this to `~/.config/molecule/config.yml` globally in the meantime (thanks @kireledan)

[2016-08-04 19:06] tknerr commented on #332
quick confirmation that putting it into `~/.config/molecule/config.yml` works as expected, ie. you don't have to repeat it in every project's `molecule.yml`

[2016-08-04 19:09] tknerr commented on #332
maybe a separate command / step for `dependencies` vs `converge` would be the proper solution though, e.g. `sequence: [ destroy, dependencies, syntax, create, converge, idempotence, verify ]` as the default

[2016-08-04 19:14] retr0h commented on #330
@tknerr Understood.  Let us think about this.

So you are no longer having issues as originally reported 'First `molecule converge` always fails, next one succeeds'.

The fix is setting `raw_ssh_args`, correct?

[2016-08-04 19:24] retr0h commented on #332
The only problem with modifying the sequence, we end up converging before we run the syntax check.  Seems like that makes the syntax check moot.

[2016-08-04 19:34] tknerr commented on #333
At least galaxy's `--ignore-certs` can be controlled via an env var:
https://github.com/ansible/ansible/blob/devel/lib/ansible/constants.py#L297

For the `-p` flag in `ansible-galaxy install` (= roles path where they are downloaded to) I don't see a specific env var though

[2016-08-04 20:01] retr0h commented on #333
You can specify that in your `requirements.yml`.

[code]

[2016-08-04 21:16] tknerr commented on #333
@retr0h yes, I tried that, but looks like the `path` setting is ignored. This is Ansible 2.1.1.0.

My `requirements.yml` says "role-deps":

[code]

Still they are downloaded to "roles":

[code]

[2016-08-04 21:21] tknerr commented on #333
looks like this was removed with Ansible 2.0... :-/
https://github.com/ansible/ansible/issues/13563#issuecomment-165482301

[2016-08-04 22:30] tknerr commented on #332
Oh right, it's only syntax. Thought of it more like linting, which would be late, but still useful... So makes no sense to do it after converge, so I will just skip it completely in my workaround

[2016-08-04 22:36] tknerr commented on #330
@retr0h correct, setting "ControlMaster=no" via `raw_ssh_args` fixes it. Also this is a Cygwin only issue, I suppose.

This is what I added to `~/.config/molecule/config.yml` to fix it globally on my cygwin based installation:

[code]

[2016-08-04 22:43] tknerr commented on #328
@retr0h :+1:

Happy with just setting the `serverspec_dir` to a non-existent directory as a workaround. Also, after reading the docs again, it clearly says "test" is for testinfra and "spec" where it looks for serverspec. So my case is really a bit against the recommendation, so no need to account for that ;)

[2016-08-04 23:02] tknerr commented on #333
One more thing I noticed:

[code]

This config is not effective for `ansible-galaxy`, only for `ansible-playbook`

However, `ANSIBLE_GALAXY_IGNORE=True molecule test` correctly passes the env and makes it work behind a proxy

[2016-08-04 23:30] tknerr commented on #329
@dhutty @retr0h using the workaround in https://github.com/metacloud/molecule/issues/330#issuecomment-237704216 the testinfra ansible backend is working again. So I have no longer the need for using the testinfra ssh backend. Feel free to close.

[2016-08-04 23:32] retr0h commented on #329
@tknerr sweet!

[2016-08-04 23:32] #329 closed

[2016-08-04 23:47] tknerr opened #334 "`molecule test` runs testinfra, but `molecule verify` does not"
Another weird corner case:

 * there is a whitespace issue in a dependency cookbook, which I cant easily fix
 * when I run `molecule test`, the whitespace issue is reported and after that testinfra runs
 * however, when I run `molecule converge` + `molecule verify` it exits early on the whitespace issue and does not run testinfra anymore

Related code is here:
https://github.com/metacloud/molecule

[2016-08-04 23:51] tknerr commented on #330
Weird cygwin stuff, and a proper workaround. Can be closed from my point of view..

[2016-08-05 03:29] retr0h commented on #330
@tknerr cool, sounds good.

[2016-08-05 03:29] #330 closed

[2016-08-05 17:01] moh-abk opened #335 "Playbook Testing - Enhancement/New Feature Request"
As `molecule` is able to run a `playbook` with the role from the `init` action, can it be extended to run a `playbook` which in it's basic level just contains `roles` but may also contain `tasks`.

It would be great if we could be able to test `playbooks` as I have a bunch of custom `roles` that depend on my other `roles` hence can't be tested independently rather only in a playbook. 😃

[2016-08-05 17:14] dhutty commented on #335
molecule uses a [playbook](http://molecule.readthedocs.io/en/master/usage.html#playbook-yml) to test the role. If you have complicated setup requirements, you can get creative in this playbook. If you merely have dependency roles, then list them in the dependencies section of the `meta/main.yml` of the your running molecule against and all should be well.

If I have misunderstood your difficulty,

[2016-08-05 18:57] moh-abk commented on #335
I know it runs a playbook, but in a situation where you have custom roles, roles from galaxy and tasks and your end goal is to provision a complete system it becomes complicated. For instance I have playbooks that will run 10+ roles and at the end I get a fully functioning system as part of my stack. Now the playbooks may contain roles that need to run before others do or that get their `input` fr

[2016-08-05 21:17] retr0h commented on #335
So you are asking if molecule could test a playbook, and that playbook may consist of numerous roles and tasks.  You don't want to test a single role with a single playbook, but more of a playbook that tests the integration of various components.  Right?

[2016-08-05 21:22] moh-abk commented on #335
Yes, precisely. Same thing it does now but on a grander level with playbooks.

[2016-08-05 23:06] retr0h commented on #335
You can do that today, allow molecule to know you are leveraging a requirements file, and it will automatically download your roles.

[code]

[2016-08-08 09:03] moh-abk commented on #335
Cool... I'll give that a go!

[2016-08-08 09:03] #335 closed

[2016-08-08 10:09] tknerr opened #338 "Support for Testing with multiple instances"
Currently you can only test against a single instance. However, often you have the situation where you want to test master/slave setups or the like.

It would be awesome if molecule would support that, so that we don't need yet another testing framework for these kinds of tests.

In the `molecule.yml` this could boil down to something like `instance-sets` as an alternative to `instances`. From a p

[2016-08-08 12:42] dhutty commented on #338
Molecule does support multiple instances, the `instances` directive that you refer to is a **list**:
[code]

[2016-08-09 07:16] tknerr opened #339 "`molecule status` should also work if no instances created yet"
Not sure if something is running already, so the first thing I do is `molecule status`, but:

[code]

should display status imho an tell us status is "not created"

[2016-08-09 07:22] tknerr commented on #338
Oh, in fact yes. I thought that would create two completely separate molecule test runs, one for each instance. Just tried it out, and in fact it brings up both instances for one single run.

So this poses two new questions (can't find it in the docs):

1. how can you define which testinfra tests run against which of the instances? (currently same tests run on each instance)
1. how can you test wi

[2016-08-09 16:30] kireledan commented on #339
I mean... it kinda already does that by saying "Error: no instances created". Or are you suggesting that it shouldn't be an error?

[2016-08-09 17:04] retr0h commented on #338
You can target by group or host/container name.

https://github.com/metacloud/molecule/tree/master/tests/functional/docker/scenarios/full/tests

This isn't test kitchen.  We currently do not support scenarios.  However, one day in the future we hope to #204.

[2016-08-09 17:06] retr0h commented on #339
Yeah, we have no status to really report.

[2016-08-09 20:17] tknerr commented on #339
I would have expected that "not created" is also a valid status, but not an error condition.

My expectation would have been something like that:

[code]

Similar to what you get from `vagrant status` for example:

[code]

[2016-08-09 20:23] tknerr commented on #204
+1, would love to see suites support (as long as there can be still multiple instances per suite, which is atm not supported by TK afaik)

[2016-08-09 20:27] retr0h commented on #339
Yeah, understood it's a valid concern.

[2016-08-09 20:28] tknerr commented on #338
@retr0h thanks for the pointer on targeting specific host groups with testinfra!

Regarding alignment with test-kitchen, yes would probably be nice, but not criticial for me to make it a 1:1 clone. Suites / scenarios support would be awesome to have at some point in the future in molecule. Multi-instance support is already awesome in molecule! :)

[2016-08-09 20:40] retr0h commented on #338
Yeah, we definitely want scenarios, and a cleaner config syntax.  However, implementing that is going to take some time.  Right now we have been focusing on stability and testing.  Once we feel confident, we can start to change more.

[2016-08-09 20:40] retr0h commented on #338
@tknerr you good if I close this out?

[2016-08-09 20:44] tknerr commented on #338
oh yes sure, thanks for clarification! Following #204 for the TK alignment...

[2016-08-09 20:44] #338 closed

[2016-08-09 23:17] retr0h commented on #332
@tknerr this issue should now be addressed with the merging of #340.

We will close this issue once we release 1.9 molecule to pypi.

[2016-08-09 23:46] retr0h opened #341 "GalaxyInstall installs roles into wrong directory"
Roles are installed into .molecule/.molecule/roles/ by default.  Should be .molecule/roles.

[2016-08-10 14:03] sebinjohn commented on #341
I could not reproduce this. What is your scenario?
I tried this against latest master with docker provider

[code]

and the content of `.molecule/roles` is
[code]
where requirements.yml content is
[code]

[2016-08-11 15:46] aelsabbahy commented on #324
That would be neat. I'm going on vacation, so I can't put in code anytime soon. But feel free to ping me with any questions/concerns on how to integrate Goss.

One notable difference is that Goss is required on the target machine, it doesn't run over `ssh` like serverspec and testinfra.. not sure if that'll be challenging for your integration or not, but it's very simple to install/run.

[2016-08-11 18:59] retr0h commented on #324
I have no plans to implement this support any time soon.  Will likely need to happen from someone in the community.

[2016-08-11 19:17] kireledan commented on #324
I kinda wanna take a try at this to learn about Goss so I might tinker with this over the weekend.

[2016-08-11 23:23] retr0h opened #345 "Ansible 1.9 syntax sub command fails"
Ansible 1.9 syntax subcommand fails.  Discovered this bug while writing tests for #344.

[code]

This seems to occur on occasion.  Haven't figured out what is triggering the bug.  Fails on occasion when running `tox` only with the `py27-ansible19-functional` environment.

[2016-08-12 00:06] retr0h commented on #341
Odd.. I'll have to dig into this further.  I have a feeling it has to do with my roles path.

[code]

[code]

[2016-08-12 17:34] #339 closed

[2016-08-12 17:44] retr0h commented on #332
Resolved with #340.

[2016-08-12 17:44] #332 closed

[2016-08-12 18:44] #341 closed

[2016-08-12 19:37] retr0h commented on #317
Closing.  Already fixed.

[2016-08-12 19:37] #317 closed

[2016-08-12 20:53] #333 closed

[2016-08-13 00:13] retr0h opened #350 "Docker test_port_bindings unit tests fail on occasion"
The `test_port_bindings` docker [unit test](https://github.com/metacloud/molecule/blob/master/tests/unit/provisioner/test_dockerprovisioner.py#L102-L118) fails on occasion.

I believe this is due to the test relying on the order of the dict.  Since dicts are unordered, we see spurious failures.

[2016-08-13 04:24] retr0h opened #353 "Validators could use more tests"
Validators have low coverage.  Lets fix that.

[code]

[2016-08-13 04:29] retr0h commented on #350
Hit the bug being tracked by #345.  All else looks good.

[code]

[2016-08-13 06:43] retr0h opened #355 "Status returns empty on vagrant driver when .molecule dir doesn't exist"
When the .molecule directory doesn't exist, the `molecule status` command returns empty.  This issue turned up since we implemented #349, and I happened to remove the `.vagrant/` and `.molecule/` directories while implementing another feature.

[code]

[2016-08-13 06:47] retr0h commented on #355
Need to be sure to add a rm -rf of `.molecule/` and `.vagrant/` dirs.

[2016-08-13 22:58] #350 closed

[2016-08-13 22:59] #345 closed

[2016-08-15 15:34] #355 closed

[2016-08-16 20:05] kireledan commented on #353
Look's like the coverage isn't too too bad. Just the trailing that really needs most of the attention.
[code]

[2016-08-17 00:48] retr0h commented on #353
Yeah, now that they were broken out, they got some extra coverage.  The tree crawling going to be tricky.

[2016-08-17 00:49] retr0h commented on #353
Going to close, we have bigger fish to fry, and is no longer much of an issue after the verifier refactoring.

[2016-08-17 00:49] #353 closed

[2016-08-18 16:29] abrown-sg commented on #334
It looks like a recent update has made it so the behavior is consistent now between `molecule test` and `molecule converge; molecule verify` so that both fail immediately. However, it does raise the question about whether we should exit immediately on failing whitespace when it can prevent us from being able to do testing when dealing with upstream roles that might have trailing whitespace.

Chang

[2016-08-18 16:32] abrown-sg commented on #334
@retr0h Thoughts? ^

[2016-08-18 19:05] rjfellman opened #381 "defining `['test']['sequence']` seems to be ignored: atleast when driver is openstack"
I've got a custom test sequence on a role, leaving idempotence out but it is still tested. This wasn't the case in the last release I used though `1.8.2`

[code]

[2016-08-18 19:06] russ216 commented on #381
Debugging with iPython, here is what i see if i drop into `test.py`
[code]

[2016-08-18 19:08] russ216 commented on #381
And weirdly enough, if i add just a random step in there
[code]

[code]

[2016-08-18 19:17] retr0h commented on #381
What version of molecule are you using?

[2016-08-18 20:23] retr0h commented on #334
If the functionality is consistent, that is good.  IMO the white space should fail b/c if it doesn't fail and exit, one will probably not notice the error at the time of role development.

I would propose if someone wants to ignore the roles that have whitespace they should simply add the dir (`.molecule/roles`) to the ignores.  I have some ignores setup in the roles I develop.

https://github.com

[2016-08-18 20:29] retr0h commented on #334
I believe this is safe to close out.  @tknerr are you okay with the explanation?

[2016-08-18 20:42] russ216 commented on #381
@retr0h - this is just pip installing local copy of master. head is up to date as of yesterday - i could try with anything that may have gone in today
`3432e18b5912359fdaacd7ca068f77d0c6b5b453`

[2016-08-18 20:50] retr0h commented on #381
I was curious if this is a problem only on master or if you are seeing the same problem on the released 1.8.4 version on pypi.

[2016-08-18 20:52] russ216 commented on #381
hmm let me try that too! (just recloned master today and still the same)

[2016-08-18 20:53] retr0h opened #382 "Cut a 1.9 release"
We need to verify 1.9 is ready for release.

- [x] ~~#381~~
- [x] ~~#334~~
- [x] Verify provider overrides work as expected.  Basically we want to verify pip's workflow will continue to work with parallels under 1.9.
- [x] Move releases back to master, breaking changes will go under a v2 branch.  Update [documentation](https://github.com/metacloud/molecule/blob/master/doc/source/development.rst#br

[2016-08-18 21:00] russ216 commented on #381
Okay, it seems okay on `1.8.4` - sorry, was this an okay place to bring it up? do you think it could be valid? This worked using an earlier version of master.

[2016-08-18 21:06] retr0h commented on #381
Yeah, I think I have an idea of the problem.  I believe it is the dict merging strategy.  We are using [anyconfig.MS_DICTS_AND_LISTS](https://github.com/ssato/python-anyconfig/blob/master/docs/usage.rst) on master.

[2016-08-19 15:39] russ216 commented on #381
@retr0h - that did it, works as expected with that changed back. thanks for your help!

[2016-08-19 17:39] kireledan commented on #382
Are we checking with the other providers as well besides parallels?

[2016-08-19 18:19] retr0h commented on #382
We already test virtualbox.  We just happen to have a few co-workers that use parallels, vmfusion, in a particular way, and want to be sure that doesn't break.

[2016-08-19 19:41] retr0h commented on #381
[code]

[2016-08-19 19:53] #381 closed

[2016-08-20 19:00] lxhunter opened #387 "Docker port_bindings does not seem to work"
Hi there,

i configured the ports as explained:

[code]

but docker still gives me:

[code]

What am I doing wrong?

Cheers

[2016-08-21 00:46] retr0h commented on #387
@lxhunter What version of molecule?

[2016-08-21 03:00] retr0h commented on #334
@tknerr since you reported this, how do you feel about our findings?

[2016-08-21 07:02] lxhunter commented on #387
Ah! That explains it!

[code]

I will give a git install a try :)

Thanks

[2016-08-21 07:02] #387 closed

[2016-08-21 07:11] lxhunter commented on #387
Here the manual install (Please correct me):

[code]

[2016-08-21 11:15] lxhunter opened #389 "systemd run_command"
Hi Guys,

thanks for the awesome tool, could you pass the run_command to docker (as kitchen does)?

Then it starts with systemd (if i get it install prior to the run) and then i can use systemctl, which helps with the init process. (closer to the live environment)

[code]

Cheers,
Alex

[2016-08-21 19:24] kireledan commented on #389
The run command can already be set. Use the ```command``` flag when specifying your container.

[2016-08-21 19:25] kireledan commented on #387
I dont believe you need the ```build``` part.

[2016-08-22 01:06] retr0h commented on #389
Just to be clear, this functionality is only available on master.  A 1.9 release is in the works.

[2016-08-22 01:08] retr0h commented on #387
@lxhunter also https://github.com/metacloud/molecule/blob/master/CONTRIBUTING.rst#installing-from-source

[2016-08-22 03:26] kireledan commented on #389
Ahh yes. That's right

[2016-08-22 06:06] lxhunter commented on #389
Thank you very much! Awesome tool!

[2016-08-22 06:06] #389 closed

[2016-08-22 06:08] lxhunter commented on #387
Ok, did not see that. Thanks!

[2016-08-22 20:29] retr0h commented on #382
#390

[2016-08-22 20:35] retr0h commented on #382
Released to pypi.  https://pypi.python.org/pypi/molecule

[2016-08-22 20:35] #382 closed

[2016-08-22 20:42] retr0h commented on #389
1.9 was released to  [pypi](https://pypi.python.org/pypi/molecule/1.9.0) today.

[2016-08-22 20:42] retr0h commented on #387
1.9 was released to  [pypi](https://pypi.python.org/pypi/molecule/1.9.0) today.

[2016-08-22 20:42] retr0h commented on #381
1.9 was released to  [pypi](https://pypi.python.org/pypi/molecule/1.9.0) today.

[2016-08-22 23:09] #188 closed

[2016-08-23 09:33] clabu opened #393 "Allow custom Dockerfile"
Currently the Dockerfile used to customize the image is hard-coded in `molecule/driver/dockerdriver.py`. Allow the option for a custom Dockerfile. I for example need the image to have a corporate proxy configured or I cannot download packages. I would also like an image with init system working.

Example config:
[code]

[2016-08-23 12:11] kireledan commented on #393
This seems a bit unnecessary. If you build the image locally with your customized dockerfile you can already set that as your specified image. Also I'm a bit confused by your config. You're passing a dockerfile but set the image to something else.

Do you mean to say you would want to only pass in the dockerfile with no image?

[2016-08-23 12:42] dj-wasabi opened #394 "1.9.0: sh.CommandNotFound: ansible_galaxy"
Hi,

A test on Travis installed version 1.9.0  (https://travis-ci.org/dj-wasabi/ansible-zabbix-proxy/builds/154438070) and it fails when it tries to download the dependencies.

[code]

I don't see on the documentation that ansible-galaxy needs to be installed separately?

Kind regards,
Werner

[2016-08-23 13:24] clabu commented on #393
Yes, I mean that only pass the dockerfile setting and no image setting. Sorry for the poor example; I will update it.

My use case is that I want to check in the Dockerfile with my tests so that folks that do not have access to my Docker registry can still build the custom image. I guess the alternative is to execute the same commands in playbook.yml, but they would then be done on each test run (

[2016-08-23 14:58] retr0h commented on #394
Hi @dj-wasabi molecule no longer installs ansible through it's requirements.  We assume people want to control the version of ansible they are running.

I noticed your [travis file](https://github.com/dj-wasabi/ansible-zabbix-proxy/blob/molecule_test/.travis.yml#L12) doesn't install ansible.  You should be good if you install ansible before molecule.

[2016-08-23 17:00] dj-wasabi commented on #394
Ok, thanks! Will make sure I install it within the .travis.yml file.

[2016-08-23 17:00] #394 closed

[2016-08-23 17:51] retr0h opened #395 "Converge --debug bug with 1.9 release"
Failure with `molecule converge --debug`

[code]

[2016-08-23 18:26] #395 closed

[2016-08-23 18:33] retr0h opened #397 "Role path incorrect when using requirements_file on 1.9 molecule"
The role path is not set correctly when using a requirements_file in ansible.cfg.  Ansible is unable to find a path to the role.

[code]

[2016-08-23 18:52] dj-wasabi opened #398 "Error while executing molecule verify: RuntimeError: One or more hosts is required with the docker backend"
When doing an `molecule verify` with TestInfra:
[code]

Molecule: 1.9.0
Ansible: 2.1.1.0
TestInfra: 1.4.1

Running testinfra manually does work.

[2016-08-23 19:06] retr0h commented on #398
For those which run `molecule init` under 1.9 the test files will be created properly.  Unfortunately, your tests were created with an older version of testinfra.

Updating your tests with [this](https://github.com/metacloud/molecule/blob/master/test/functional/driver/docker/scenarios/command_test/tests/test_default.py#L1-L3), will fix your problem.

[2016-08-23 20:02] retr0h commented on #397
[code]

[2016-08-23 20:07] #397 closed

[2016-08-24 02:56] retr0h commented on #393
I'm not entirely sure I'm sold on this.  Not sure we want to get into the game of building docker images.  We currently "modify" pre-built images to ensure they work in molecule, but building an image off a custom docker file would be a bit out of scope for molecule.

Instead, have you thought of using tools to build the image?  This would be fairly trivial.  One example is [ansible-container](htt

[2016-08-24 04:27] kireledan commented on #393
I think I can definitely see a use case for this though. I was able to whip something up quickly if you want to take a look at it?

[2016-08-24 06:54] clabu commented on #393
Building an image for my Molecule tests using ansible-container would be fine. However, it'd be great if this could be done in the normal Molecule workflow so that users can just get the role and run "molecule test" without first having to build a Docker image with a separate command.

How about a pre-hook to run a playbook before Molecule starts creating instances? In my case the pre-hook playboo

[2016-08-24 12:10] tknerr commented on #334
@retr0h sorry for the late response, but +1 for consistency, +1 for closing

[2016-08-24 17:25] retr0h commented on #398
Closing since this is [resolved](https://github.com/dj-wasabi/ansible-zabbix-proxy/pull/5).

[2016-08-24 17:25] #398 closed

[2016-08-24 17:30] #182 closed

[2016-08-24 17:56] retr0h commented on #393
Sure

[2016-08-25 22:10] hryamzik opened #410 "Feature request: aws provider"
Would really love to see `aws` support.

[2016-08-25 22:30] kireledan commented on #410
This is currently being developed. It will most likely come in the 2.0 release with the driver refactor.

[2016-08-28 01:30] rjfellman commented on #381
Thanks! This is much better now

[2016-08-29 09:58] hryamzik opened #417 "Feature request: native inventory support"
Currently all the group and host vars are described in a configuration file. That's fine for individual role testing but can be a showstopper for infrastructure testing. Let's say you playbook takes host/group vars or even facts from some real hosts, it could be a good idea to test it but that's not currently possible with molecule.

[2016-08-29 15:27] retr0h commented on #417
Thats what this project does.  It performs individual role tests. 😁

If you wish to test "real inventory" you can use the `group_vars` flag in the config file, which for some reason doesn't appear to be documented properly.  You can simply point your role to a directory containing ansible group vars.

Hosts still perform fact gathering with either scenario, but this is a little more of a real test

[2016-08-29 23:02] retr0h commented on #393
This was implemented with #409.  Will be available on pypi when we release 1.10.

[2016-08-29 23:02] #393 closed

[2016-08-30 12:19] freeseacher commented on #324
@kireledan any news ?

[2016-08-30 13:54] kireledan commented on #324
I have not had much of a chance to look at this since school started back up again. But if anyone else wants to tackle it before I can get the chance, feel free to.

[2016-08-30 14:33] retr0h commented on #324
Actually, I'm not all that interested in adding support for every test framework.  What we have I believe is adequate, and molecule is fairly opinionated.  I'd actually prefer everyone use testinfra anyways.

The ability to access ansible facts/variables inside the tests is a plus, and ability to target ansible hosts/groups is even more important.  This is one reason testinfra is the default.  Hav

[2016-08-30 14:56] retr0h commented on #324
BTW this is not a ding on the quality of goss.  I think the project is amazing, I simply want to concentrate on improving the core of molecule.  We still need to substantially rewrite the config, and improve things across the board.  We can revisit this at a later time.

[2016-08-30 15:02] retr0h commented on #324
👍 for goss support 👎 no support

[2016-08-30 15:25] retr0h commented on #324
This could actually be implemented today in playbook.yml.  However, this wouldn't be implemented in a way where `verify` would work like the other verifiers.

If we were to implement this at some point in the future, we would probably want to invoke our Ansible Playbook class to execute playbooks.  These playbooks can then target various host or groups to test (much like serverspec/testinfra can).

[2016-08-30 15:27] retr0h commented on #324
I'll prob take a look at this later in the week.

[2016-08-30 21:39] lxhunter opened #418 "Filter plugins"
Hi,

how would one supply filter_plugins to molecule?

Cheers,
Alex

[2016-08-30 21:42] retr0h commented on #418
Add the following to molecule.yml:

[code]

[2016-08-30 22:17] lxhunter commented on #418
Thanks!

[2016-08-30 22:17] #418 closed

[2016-08-30 23:59] retr0h commented on #417
@hryamzik does this perform what you expected?

[2016-08-31 01:44] retr0h commented on #417
Also, it appears with ansible 2.x, you can create a `group_vars` or `host_vars` directory in the root of your project, and it will just work.  I'm surprised that is the case, but it seems to work for me locally.

[2016-08-31 04:25] freeseacher commented on #324
tnx

[2016-08-31 20:47] clabu commented on #393
Awesome!

[2016-09-01 09:37] lxhunter opened #422 "Kitchen provision_command"
Hi Guys,

is there a way, that i can install things previously to running provisioning?

Like in Kitchen:
[code]

Cheers,
Alex

[2016-09-01 11:19] o0st opened #423 "Add ansible groups inheritance"
It would be great to have a possibility to describe groups inheritance in the ansible_groups parameter.
What I mean is an inventory file after creation of instance(s):
[code]

[2016-09-01 13:06] kireledan commented on #422
That could be a useful addition. I would think that the playbook being tested would just install these though. Or is this a common need?

[2016-09-01 14:31] retr0h commented on #422
Yeah, generally if this is needed it should go in the playbook.  I don't see much use in having molecule manage this.  Lets leverage ansible at what it's good at.

I use this pattern for my alpine linux instances.

[code]

To handle your use case, simply add to your playbook.

[code]

[2016-09-01 15:04] retr0h commented on #423
Vagrant provides a similar mechanism.  @kireledan you want to take a stab at this?

[code]

[2016-09-01 15:04] lxhunter commented on #422
My Challenge with this is (and it is an edge case): I want to test my ansible filters through molecule with ansible. (see https://github.com/lxhunter/ansible-filter-plugins/tree/ci) But I need some python modules before I can execute ansible.

[2016-09-01 15:06] retr0h commented on #422
Would [raw](http://docs.ansible.com/ansible/raw_module.html) work?

[2016-09-01 15:57] o0st commented on #423
But I'm talking about more complicated linking (include group as child of another group) vm1 => group1 => group2, in this case ansible inventory file should look like:
[code]

[2016-09-01 16:06] retr0h commented on #423
Yeah, I get it.

[2016-09-01 18:15] o0st opened #424 "Vagrant driver does not allow customize vm.provider parameters"
Have faced DNS not working Vagrant issue (https://www.vagrantup.com/docs/virtualbox/common-issues.html) which could not be fixed from Molecule because there is now way to pass the modifyvm parameter to the Vagrantfile.

[2016-09-01 18:25] o0st opened #425 "Add support of ansible extra vars"
Would be great to have a mechanism which would allow to pass ansible extra vars from molecule config.

[2016-09-01 18:26] retr0h commented on #425
[We do](https://molecule.readthedocs.io/en/stable-1.9/configuration.html#host-group-vars).

[2016-09-01 18:32] abrown-sg commented on #424
The Vagrantfile template allows you to pass in arguments at the instance level as well as for all instances using "raw_config_args."  Would that work for you?

See here: https://github.com/metacloud/molecule/blob/master/doc/source/driver/vagrant/usage.rst#comprehensive-usage

[2016-09-01 21:22] retr0h commented on #422
FYI - released version 1.10 to pypi.

[2016-09-01 22:02] lxhunter commented on #422
Hi retr0h,

Just got around to test it and raw does it!

Thanks for releasing the new version.

Is there a way i could seen you guys a beer or something of an amazon wishlist?

As a token of appreciation?

Cheers

[2016-09-01 22:02] #422 closed

[2016-09-01 22:08] retr0h commented on #422
@lxhunter awesome!  Well @abrown-sg is the man! I am sure we will meet at some point.  We can worry about the 🍺 then :)

[2016-09-02 02:46] retr0h commented on #258
@moh-abk As of molecule 1.10, molecule init will write out both serverspec and testinfra test examples.

As of master you can not pass a `--serverspec` flag to write out only serverspec examples.

[2016-09-02 02:46] retr0h commented on #232
@techraf As of molecule 1.10, molecule init will write out both serverspec and testinfra test examples.

As of master you can now pass a `--serverspec` flag to write out only serverspec examples.

[2016-09-02 03:17] retr0h commented on #324
@freeseacher @aelsabbahy added very rudimentary goss support in #430.

[2016-09-02 05:03] retr0h commented on #424
So basically something like this.

[code]

[2016-09-02 05:06] moh-abk commented on #258
@retr0h Nice! Will it install `serverspec` same way it installs `pytest` and `testinfra`?

[2016-09-02 08:49] freeseacher commented on #324
tnx. i will try to use it later.

[2016-09-02 09:52] dj-wasabi opened #432 "ValueError: ids must be list of strings, found: 'docker://zabbix-agent-centos' (type: unicode)"
Hi,

I've installed the latest molecule version, but when running  verify I get the following error:
[code]

[2016-09-02 10:37] o0st commented on #424
It works thanks

[2016-09-02 10:37] #424 closed

[2016-09-02 10:39] o0st commented on #425
Probably the 'extra_vars' variant should be documented.
Thanks.

[2016-09-02 10:39] #425 closed

[2016-09-02 15:29] retr0h commented on #425
It [is](https://molecule.readthedocs.io/en/stable-1.10/configuration.html#ansible-section).

[2016-09-02 15:33] retr0h commented on #432
Are you running against an existing role, or a brand new role created with 1.10.0 via `molecule init`?

[2016-09-02 15:34] retr0h commented on #432
Any chance you can link me to the repo?

[2016-09-02 16:40] #324 closed

[2016-09-02 19:03] retr0h commented on #432
@dj-wasabi Interesting.  I got the same error when I upgraded from pytest-2.9.2 to pytest-3.0.2.   I wonder if testinfra is not pytest 3.0 compatible.

[2016-09-02 19:03] retr0h commented on #432
Ah, yes [that is the issue](https://github.com/philpep/testinfra/issues/125).

[2016-09-02 23:14] retr0h commented on #204
Molecule 2.x config syntax proposal.  We would like to use a similar config to test-kitchen.  However, we likely cannot be 100% compatible _nor_ do we need to be.

Below is more vagrant specific, but we should try and normalize the config across drivers.

[code]

How do we represent multiple-instances?  Test kitchen combines the suite and platform to create a set of tests it loops through.

I was

[2016-09-03 00:17] retr0h commented on #279
@rjfellman I might be able to implement this.  However, it gets fairly tricky and gross quick.  It would work if one followed the workflow of.

`molecule test`
`molecule test --driver docker`
`molecule test --driver openstack`

However, if at any point the systems are not torn down before executing the next driver, we will get into a mess.  Basically, we can't support simultaneous instances runnin

[2016-09-03 00:30] rjfellman commented on #279
One of the things I've encountered, is it seems like vagrant is required,
even when openstack is the one present in the configure. It's technically
not a dependency, maybe that should be a separate issue. (Disclaimer: I
haven't tried that particular case in over a month)

On Friday, September 2, 2016, John Dewey <notifications@github.com> wrote:

[2016-09-03 00:34] #181 closed

[2016-09-03 00:35] retr0h commented on #279
I'm pretty sure we corrected that issue.  Open a new issue if that isn't the case.

[2016-09-03 18:27] retr0h commented on #432
Hi @dj-wasabi I uploaded a new package to pypi (1.10.2).  This should correct your issue.  Otherwise install 3.0.3 or newer of pytest, which was recently fixed.

[2016-09-03 18:28] retr0h commented on #432
Fixed by [1.10.2](https://pypi.python.org/pypi/molecule).

[2016-09-03 18:28] #432 closed

[2016-09-03 18:41] retr0h commented on #312
We will handle (#289) as part of this issue.  Since we will rely on ansible modules, and the ansible modules require the user to install the libraries on their own, we will yank the `docker`, `shade`, and `vagrant` hard requirements from molecule.

[2016-09-03 18:41] retr0h commented on #289
Closing this in favor of #312, which will address the dependencies.

[2016-09-03 19:10] retr0h commented on #128
@conorsch I think I'm going to need more details on this.  I'm not entirely sure how it would be helpful.

If we are to add `check` into the test sequence.  Where would it go?  It doesn't make sense to run it after converge, since nothing would then change.

Since `change` always returns success, I don't see how we would test for this.  I can implement the `changed` subcommand, but not add it to t

[2016-09-03 22:16] skitoo opened #437 "Idempotence test failed."
Hello,

* Python version: 2.7.12
* Molecule version : 1.9.1
* Distribution : archlinux

I want to install docker via ansible and when I do that, I have on error:

[code]
If I remove docker installation into my Ansible config, molecule run correctly.
I run molecule into a virtualenv and the following files exists in my virtualenv:
* share/molecule/ansible/plugins/callback/idempotence
* etc/bash_com

[2016-09-03 23:08] retr0h commented on #437
I'll check it out in the next couple of days.  I am thinking this has to do with the python path.  I have my etcd roles gated through travis and molecule.  They are working fine, however, I do use a virtualenv.

* [travis config](https://github.com/retr0h/ansible-etcd/blob/master/.travis.yml).
* travis job executing [idempotence tests](https://travis-ci.org/retr0h/ansible-etcd/builds/157375821  )

[2016-09-03 23:15] retr0h commented on #437
This is [the code](https://github.com/metacloud/molecule/blob/master/molecule/command/converge.py#L115-L124) that adds the callback plugin path during converge.

It is using `sys.prefix`, which in my venv is `/Users/jodewey/git/ansible-etcd/venv/bin/..`, which explains why it finds it.

[code]

/cc @rabadin

[2016-09-03 23:33] retr0h commented on #291
I believe this is still an issue, see #437.

[2016-09-04 01:26] retr0h commented on #437
I'm actually thinking we shouldn't use data_files at all.

I tend to agree with [this](http://python-packaging.readthedocs.io/en/latest/non-code-files.html#adding-non-code-files).

[2016-09-04 05:14] retr0h opened #440 "Idempotence plugin doesn't work"
It doesn't work for 1.9.6 nor does it work with Ansible 2.x.

### 2.0

`runner_on_ok` is actually `v2_runner_on_ok` with a different method signature.

Also, does not report any changes.

### 1.9

Does not report changes being made.

[code]

Something is causing `playbook_on_stats` to report the instance methods storing the state as empty.

These issues are somewhat related #437 and #291.

[2016-09-04 05:48] retr0h commented on #440
I'd like to ditch this plugin all together.  It's really intended for catching issues when in CI.  The developer would simply need to converge twice on system to find the task which changed.  This is overly complex for no real benefit.

Do others find it useful to know the name of the task which is not idempotent?

[2016-09-04 09:36] dj-wasabi commented on #440
I personally don't care to see which task isn't idempotence, that is something you'll need to find out when you are in "developing mode". But I do really see the need for the idempotence check to verify that the module is idempotent. All "my" roles which I develop are idempotent, unless ...

The `idempotence` check just to see if the role is idempotent means a lot for me. 👍 So please keep this run

[2016-09-04 16:19] retr0h commented on #440
Yeah, I definitely want to keep the idempotence check.  I just don't like the implementation with the callback plugin.

[2016-09-04 22:17] #291 closed

[2016-09-04 22:17] #437 closed

[2016-09-04 22:17] #440 closed

[2016-09-04 22:35] retr0h commented on #440
Released molecule [1.10.3](https://pypi.python.org/pypi/molecule) to pypi to address this bug.

There is no change in workflow.  Molecule still reports if a converge was idempotent or not.  However, it no longer reports which task(s) are not idempotent.  This greatly simplifies the code and issues around this.

[2016-09-04 22:35] retr0h commented on #437
Released molecule [1.10.3](https://pypi.python.org/pypi/molecule) to pypi to address this bug.

There is no change in workflow.  Molecule still reports if a converge was idempotent or not.  However, it no longer reports which task(s) are not idempotent.  This greatly simplifies the code and issues around this.

[2016-09-04 22:35] retr0h commented on #291
Released molecule [1.10.3](https://pypi.python.org/pypi/molecule) to pypi to address this bug.

There is no change in workflow.  Molecule still reports if a converge was idempotent or not.  However, it no longer reports which task(s) are not idempotent.  This greatly simplifies the code and issues around this.

[2016-09-04 22:57] skitoo commented on #437
@retr0h Thank you for your reactivity.
I just restart the Travis job, it really installed the new version 1.10.3, but the error seems still present: https://travis-ci.org/skitoo/bender/builds/157367959
Unit tests do not run.

[2016-09-04 23:09] retr0h commented on #437
Hi Skitoo, I haven't looked at your roles, but this is part of the workflow.  It is erroring b/c your task(s) are making changes after a converge.  The idempotence check is making sure changed=0 is reported on a subsequent converge.

On your development machine you should run molecule converge twice, and see which task is reporting as changed on the second run.

[code]

[2016-09-04 23:27] retr0h commented on #437
I was looking at your role.  The `features/fail2ban` branch is failing b/c the tasks are not idempotent.

[code]

[2016-09-05 10:27] hryamzik commented on #417
Sorry for late response, didn't have time to check this out. I want to test some real hosts with molecule, not just single roles. Let's say I have backups for several hosts and there backup related variables are in host_vars. I want to restore backups for all these hosts one by one to a special test server. Restoring means running a restore role with parameters from `host_vars` of each host from t

[2016-09-05 15:26] retr0h commented on #417
Ya,  try what I suggested.  Should work.

[2016-09-05 19:16] retr0h commented on #437
@skitoo This should correct your problem on the `features/fail2ban` branch.  You will want to verify this image is acceptable, or build your own using [dockerfile](http://molecule.readthedocs.io/en/stable-1.10/driver/index.html#options) option of molecule.

[code]

You also have a test for `ca-certificates` which isn't installed by your role.

[2016-09-06 12:18] skitoo commented on #437
@retr0h Thank you for your help !
It works fine :)

For ca-certificates, it's strange, with base debian image, ca-certificates it's installed with apt-transport-https package... I finaly installed "manualy" in my playbook.

Thanks again :)

[2016-09-06 16:35] conorsch commented on #128
Adding _after_ `converge` actually does make sense, although it's not intuitive. Many roles use a command/register pragma to store a dynamic variable, then inspect that var in a subsequent task as part of conditional logic. By default, Ansible skips `command` tasks, because it can't know the severity of side-effects, so the subsequent tasks inspecting the var will fail in check mode. Having Molecu

[2016-09-06 19:52] #128 closed

[2016-09-07 04:56] retr0h commented on #279
@rjfellman Okay, I think I have this worked out.  Will submit a PR tomorrow.

It will allow you to add multiple drivers to the config at the same time.  However, once you spin up a driver, you must perform all commands at that driver.  One cannot intermix the two, wile they run simultaneously.

`molecule converge --driver openstack|docker|vagrant`

or update molecule.yml with

[code]

or do nothin

[2016-09-07 05:45] retr0h opened #450 "Make docker the default driver"
Currently vagrant is the default driver.  Lets make docker the default.

[2016-09-07 16:09] #279 closed

[2016-09-08 02:25] #423 closed

[2016-09-09 00:08] retr0h commented on #450
Going to hold off on this.  Not a priority.

[2016-09-09 00:08] #450 closed

[2016-09-09 20:17] keyboardscience opened #459 "Docker driver renders inventory file with `connection=docker` rather than `ansible_connection=docker`"
The docker driver renders out `connection=docker` within `.molecule/ansible_inventory`. The variable should be `ansible_connection=...` so a `ansible.executor.task_queue_manager.TaskQueueManager` can pick up the connection type. Without the ansible_connection inventory variable testinfra falls back on the paramiko backend to connect, which doesn't work for containers.  I'm using molecule in conjun

[2016-09-09 20:21] retr0h commented on #459
Thanks @keyboardscience

[2016-09-09 22:37] #459 closed

[2016-09-10 02:28] retr0h opened #461 "Investigate click as a replacement to docopt"
Investigate [click](http://click.pocoo.org/5/) as a replacement to docopt.

[2016-09-10 03:00] retr0h opened #463 "Convert vagrantfile from relying on jinja"
Parse the statefile from the vagrantfile much like we do with the [Rakefile](https://github.com/metacloud/molecule/blob/master/molecule/cookiecutter/molecule/%7B%7Bcookiecutter.repo_name%7D%7D/rakefile#L11-Lundefined).  Don't use jinja to render ruby.

[2016-09-10 06:20] kireledan commented on #461
Oh this looks very very nice.

[2016-09-12 01:07] signed8bit commented on #461
We've been using Click for all our internal CLI tools and it works quite well.

[2016-09-12 16:42] keyboardscience opened #466 "`molecule status` raises IndexError when container is stopped"
`molecule status` raises an uncaught `IndexError` when container is stopped.

 Fix entails adding `all=True` to the `self._docker.containers(filters={'name': name})...` call in `molecule/drivers/dockerdriver.py:176`.

I'm working on the PR to fix, but I could some advice on how best to test. Here is what I have so far:
[code]

To reproduce:
[code]

[2016-09-12 16:51] retr0h commented on #466
Yeah, the problem with that, is the way in which docker reports status.  If you add that, then `molecule status` when the container is offline, will not show the custom offline message, but instead show the number of minutes since the container was stopped.

[2016-09-12 16:52] retr0h commented on #466
The use case is displaying the default docker status while machine is up, and `not_created` when down.  Looks like I introduced that bug when implementing this logic.

[2016-09-12 17:21] keyboardscience commented on #466
@retr0h Is molecule's preference to display a more user friendly message? Also, I don't quite understand what you were getting at when you say, "when the container is offline, will not show the custom offline message, but instead show the number of minutes since the container was stopped.". Could you clarify?

With the proposed change, the status describes how much time has elapsed since the conta

[2016-09-12 17:56] retr0h commented on #466
That should be fine.

[2016-09-12 17:56] #461 closed

[2016-09-13 05:20] pleegor opened #469 "installing molecule"
Hi,

I am trying to use molecule for ansible role testing and I am having problems installing it. I installed it once but by mistake I deleted it, so I am re-installing it again. After I ran `pip install molecule` everything seemed like it was successful. However, when I ran `molecule --version` , I got the following error:
`molecule init test
-bash: molecule: command not found`

I am running OS X

[2016-09-13 12:28] signed8bit commented on #469
@pleegor When you run "pip list" what do you see? Is "molecule" there?

[2016-09-14 02:34] retr0h commented on #469
Worked with @pleegor on slack.  This issue was resolved by `brew install python`.  The python2.6 on El Capitan was an issue.

[2016-09-14 02:34] #469 closed

[2016-09-14 03:44] pleegor commented on #469
Per suggestion of my co-worker @tleyden I ran `brew install python` which solved the problem. Even though, Python interpreter does come pre-installed with OS X, Apple completely locks it down in El Capitan so pip cannot install anything. As soon as you complete brew installation you will see that `which python` will provide python's location as `/usr/local/bin/python` instead of `/usr/bin`

[2016-09-14 03:52] tleyden commented on #469
The issues with the system python issues is described here: https://github.com/pypa/pip/issues/3165#issuecomment-152570526

[2016-09-14 05:31] retr0h commented on #469
@tleyden 🎸

[2016-09-15 13:52] YPCrumble opened #478 "Is it possible to use the ask_sudo_pass variable with Molecule?"
It appears in old versions of the documentation that it was possible to use Ansible's `ask_sudo_pass` flag with Molecule. However, with the latest version of Molecule the program hangs on the following step when I add `ask_sudo_pass: True` to the `ansible:` portion of `molecule.yml`.

[code]

My use case is that I'm running a role that creates a non-root sudo user and a password for this user. The

[2016-09-15 15:45] retr0h commented on #478
Hi @YPCrumble.  We really haven't given this particular workflow much thought.  The docs did originally reference `ask_sudo_pass`, but that was mostly b/c we were referencing all the flags passed to ansible.  We actually don't support such a use case, since molecule is intended to be used in CI as well, and CI would have difficulties with user provided input.

This is a fairly tricky use case, and

[2016-09-15 15:56] YPCrumble commented on #478
@retr0h makes sense - thanks for your response! Closing

[2016-09-15 15:58] retr0h commented on #478
I'll repoen this for now.  Maybe we can come up with something, but it's a fairly non-standard use case atm.

[2016-09-15 16:02] YPCrumble commented on #478
@retr0h thanks. A tangential question that I'm not sure whether to add as a separate issue is how should I best test a playbook that has several roles? Is Molecule designed to test only one role at a time or should I use the `roles:` directive in `playbook.yml` to test all roles in the playbook at once?

It doesn't appear that there is a way to recursively find the `playbook.yml` in each role and

[2016-09-15 17:22] retr0h commented on #478
@YPCrumble Molecule is intended to test a single role in isolation.  However, if you wish to test more roles in combination, that can be accomplished.

I generally create a new repo, which has a molecule.yml that leverages the [requirements.yml](http://molecule.readthedocs.io/en/stable-1.11/configuration.html?highlight=requirements#role-requirements).  The molecule.yml can then reference and conve

[2016-09-15 18:50] retr0h commented on #478
@YPCrumble Would you be interested in trying an experimental molecule branch, to see if this does what you like?

If you install the following [branch](https://github.com/metacloud/molecule/tree/enhancement-478) and install [molecule from source](http://molecule.readthedocs.io/en/stable-1.11/contributing.html#installing-from-source).

Adding the following to molecule.yml.

[code]

[2016-09-16 13:37] milosgajdos83 opened #488 "Idempotence check failures when running molecule test"
I'm running `molecule 1.11.0` with `ansible 2.1.1.0` and I noticed some strange behaviour when running `molecule test` with regards to role idempotence.

When running the idempotence test as part of the full blown `molecule test` cycle, I'm getting idempotence failures:

[code]

As soon as I get this error I run the idempotence check separately and it passes without errors:
[code]

Equally, runnin

[2016-09-16 13:40] yveslaroche opened #489 "Molecule create throws error using Docker on macOS"
Using:
- Python 2.7.12
- Molecule 1.11.0
- Docker 1.12.1 (Docker for Mac)

[code]

[2016-09-16 14:28] techraf opened #490 "Using "--platform" argument fails in 1.11.0"
Whenever a `--platform` argument is added, Molecule 1.11.0 seems to fail:

[code]

[2016-09-16 15:06] retr0h commented on #489
What version of docker-py is installed on your system?  I can't reproduce this issue.

[code]

[2016-09-16 15:14] retr0h commented on #490
Hi @techraf Can you please provide your `molecule.yml`.

[2016-09-16 15:15] retr0h commented on #488
Hi @milosgajdos83.  Do you have this repo uploaded anywhere so I can look it over?

[2016-09-16 15:34] yveslaroche commented on #489
[code]

[2016-09-16 15:40] retr0h commented on #489
I can't reproduce.  I've nuked my docker data dir too (~/Library/Containers/com.docker.docker/Data/).

If you modify the following does that solve the problem?  I can submit a hotfix if it does.

`/usr/local/lib/python2.7/site-packages/molecule/driver/dockerdriver.py`

from

`for tag in image.get('RepoTags')]`

to

`for tag in image.get('RepoTags', [])]`

[2016-09-16 15:50] yveslaroche commented on #489
I get the same problem.
[code]

[2016-09-16 15:53] yveslaroche commented on #489
Thanks, I have deleted my Docker data dir and it is working now.

[2016-09-16 16:00] retr0h commented on #490
Confirmed patch on the way.

[2016-09-16 16:00] milosgajdos83 commented on #488
Unfortunately I don't :-/ It's a private company repo. I'll check with my company if I can gist it somewhere without breaking any contracts. I'll look into the Molecule source code, too -- I haven't had time for that today, but I still wanted to open an issue so I don't forget about it.

[2016-09-16 16:11] retr0h commented on #488
Sure, no problem.  If you could just give me something stripped down that would help.  I have performed tests around this and haven't run into this particular issue, so would be interested in finding out what you're running into.

[2016-09-16 16:13] retr0h commented on #489
👍 🎸

[2016-09-16 16:32] chrisplo commented on #204
Some thoughts:
I think scenarios should be able to specify one or a list of extra var files.

I think your suite should be able to control which platforms, might be better to have platforms as a map of name->data instead of list of maps, would facilitate a later platform set concept but short term suite can optionally set a list of platforms to override the default of using all of them.

[2016-09-16 16:37] #489 closed

[2016-09-16 16:39] retr0h commented on #478
@YPCrumble I'm probably not going to support this at the moment.  It's a fairly dirty undertaking, and would prefer to focus on improving the core of molecule, and work towards scenario based testing.  If you feel this is a huge issue, please re-open.

I performed an [initial prototype](https://github.com/metacloud/molecule/tree/enhancement-478), but things get weird pretty fast when running `test

[2016-09-16 16:39] #478 closed

[2016-09-16 16:42] retr0h opened #492 "molecule status doesn't report all platforms when run with --platform all"
Molecule status doesn't diaplay all platforms when `molecule create --platform centos7` was executed.

[2016-09-16 17:27] #490 closed

[2016-09-16 17:49] retr0h commented on #490
@techraf thanks for your report.  Have pushed molecule 1.11.1 to pypi with the fix.

[2016-09-17 13:11] skitoo opened #495 "Skipping due to errors during converge."
Hello,

I install a package via pip. And after that, I have this error during idempotence test: "Skipping due to errors during converge."

You can check my code and show test results in my MR : https://github.com/skitoo/bender/pull/5

How can I solve this problem ?

Thank you.

[2016-09-17 18:35] retr0h commented on #495
Hi @skitoo.

If you re-run `molecule converge` it looks like a problem with your python-docker task.  The idempotence check simply runs a converge again, hiding stdout/err and making sure changed=0.

[code]

[2016-09-17 18:42] retr0h commented on #495
Not sure how you wish to correct the problem, but I was able to [correct it](https://github.com/donovan6000/M33-Fio/issues/147).

[code]

[2016-09-21 23:01] retr0h opened #496 "Testinfra doesn't pass the sudo option"
The sudo option does not get passed to testinfra?

[code]

[2016-09-22 00:25] #496 closed

[2016-09-22 00:34] retr0h commented on #496
Pushed molecule 1.11.2 to pypi.

[2016-09-22 17:19] conatus opened #498 "Ubuntu 14.04 Molecule `pip` install errors out of box"
Hi all,

Thanks for your work on this and in advance for your help.

I have installed (using Ansible) the latest molecule on our GitLab runners.

Just running the molecule command with any switch and as any user appears to fail. The `cryptography` package is missing, which is fine, I installed this. Even after fixing this, `shade`, the OpenStack driver, appears to be broken. However, `shade` is su

[2016-09-22 17:24] retr0h commented on #498
Do you have these packages installed?

[code]

[2016-09-22 17:30] conatus commented on #498
Thanks very much.

No I don't have either dependency and they don't install either.

[code]

`pip install python-keystoneclient==3.3.0` fails similarly. As I'm sure you are aware `configparser` is what `ConfigParser` is called in the world of Python 3, which seems a little odd because I am explicitly on 2.7 series here.

[2016-09-22 20:27] #466 closed

[2016-09-22 20:39] retr0h commented on #466
Released molecule 1.11.3 to pypi.

[2016-09-23 11:59] conatus commented on #498
So, I installed the following packages manually:
  - pytz
  - iso8601
  - cryptography
  - os-client-config
  - dogpile
  - dogpile.cache
  - python-cinderclient
  - python-glanceclient
  - python-heatclient
  - python-magnumclient
  - python-neutronclient
  - python-novaclient
  - python-troveclient
  - python-designateclient
  - python-ironicclient
  - munch
  - poyo
  - click
  - future
  - bin

[2016-09-23 12:31] conatus commented on #498
Seem this manual installation was necessary due to a broken and aborted `pip install molecule` at the top of the process, which failed due to failing to compile C extensions - all initially done with Ansible. I'll track down the precise reasons for this incomplete installation and add any additional dependencies (say header files for C extensions).

Thanks.

[2016-09-25 17:00] #498 closed

[2016-09-25 17:01] retr0h commented on #495
@skitoo get this sorted?

[2016-09-26 18:14] #289 closed

[2016-09-27 09:21] mjuenema opened #504 "Add raw_config_args option to providers"
Currently only the `vagrant` section supports `raw_config_args`. I am currently trialling changing `vagrantfile.j2` so that the `providers` section also allows `raw_config_args`.

Example:

[code]

I am going to submit a pull request once I am confident that I got it all working. Any thoughts on this?

[2016-09-27 18:09] fabMrc opened #505 "Error with ansible lint"
Hi

I used molecule verify and it throw a console error
More generally when it run the complete test lifecycle it break the workflow when idempotence or lint failed I think it is not clean. It should end the cycle, destroy docker images and make a report instead.
I am not really agree with the idea to force usage of lint because of some false positive and it exists software specialised like sonarQ

[2016-09-27 20:27] signed8bit commented on #504
Hi @mjuenema, I am currently working on moving us away from the Jinja2 template for the Vagrantfile in #463. You might want to wait for that to land. Regardless, supporting raw config args in the providers section seems reasonable to me.

[2016-09-27 22:21] retr0h commented on #505
@fabMrc We run ansible-lint on the roles being developed.  Molecule is opinionated.

[2016-09-27 23:05] dhutty commented on #505
It sounds like there are 2 separate items here:
1) You got a traceback from `molecule verify`
2) You want to be able to turn off ansible-lint

1) this is a problem - please show us a minimal example of the play/playbook so that we can recreate/investigate.
2) This is an opinionated tool, so if you want to submit a patch that allows ansible-lint to be disabled from `molecule verify`, it will be con

[2016-09-27 23:08] #492 closed

[2016-09-27 23:12] retr0h commented on #504
We actually already support [this](https://github.com/metacloud/molecule/issues/424).  As we start to move towards a more test kitchen like config file, we will move this to the provider section of the config.  However, as of today, you should be able to do what you described.

[2016-09-28 00:19] mjuenema opened #506 "Syntax problem with generated group_vars and host_vars files"
When I define ```host_vars``` (or ```group_vars```) in ```molecule.yml``` the generated files look strange. What did I do wrong???

**.molecule/host_vars/ansible-role-postgresql90**:
[code]

**molecule.yml**
[code]

[2016-09-28 03:24] retr0h commented on #504
You're right.

[2016-09-28 03:26] retr0h commented on #506
That's just anyconfig's structure getting searialized to yaml.  Ansible should read it and work properly.  We [have tests for this scenario](https://github.com/metacloud/molecule/tree/master/test/functional/driver/docker/scenarios/group_host_vars).

[2016-09-28 03:51] mjuenema commented on #506
Yes, but it changes the variable name from ```postgresql_version``` to ```dictitems.postgresql_version```.

[2016-09-28 18:20] retr0h commented on #506
Not in my tests.  All works as expected.

[2016-09-28 18:26] retr0h commented on #505
Will re-open and cleanup the stack trace.

[2016-09-28 19:18] retr0h commented on #488
I am unable to reproduce.  We have functional tests which are testing this [scenario](https://github.com/metacloud/molecule/tree/master/test/functional/driver/docker/scenarios/command_idempotence).

Please re-open when you can supply further information about your issue or sample code which is failing.

[2016-09-28 19:18] #488 closed

[2016-09-28 19:19] retr0h commented on #495
@skitoo I am closing this issue.  Please re-open if this is not sorted.  I should have provided enough details as to why it is failing above.

[2016-09-28 19:19] #495 closed

[2016-09-28 19:47] #505 closed

[2016-09-28 19:50] mjuenema commented on #506
Yes, you are right. Sorry for the confusion.

[2016-09-28 19:50] #506 closed

[2016-09-28 19:57] retr0h commented on #506
@mjuenema no problem.  Thank you for the report!

[2016-09-28 21:06] retr0h commented on #505
@fabMrc -- released stacktrace cleanup to pypi as molecule 1.11.4.

[2016-09-28 22:52] abrown-sg commented on #504
Another issue we have is that we can't set provider options at the instance level. So, for example, changing memory per instance or attaching a disk image per instance.  Vagrantfile supports letting you change provider options from within an instance in multi-machine scenarios like we have now.  For example, here's a workaround we're using:

vagrantfile.j2
...snip...
[code]

Then, in molecule.yml

[2016-09-29 14:54] bbaassssiiee commented on #504
I would like to use raw_config_args in ~/.config/molecule/config.yml

[2016-09-29 14:55] bbaassssiiee opened #509 "molecule init role does not make the templates dir."
When I issue the command:
`molecule init role `
I expect a directory
`role/templates`
But it is not there.

[2016-09-29 15:36] lxhunter opened #510 "Fact gathering for other containers does not seem to work"
Hi Guys,

if I gather facts of other hosts on an run, the network facts are not set. e.g. ansible_eth0

Test case with error: https://github.com/lxhunter/network_bug

i would really appreciate help :)

Cheers,
Alex

[2016-09-29 15:45] retr0h commented on #510
@lxhunter As far as I am aware this is an issue with Ansible + docker.  I have ran into similar issues when testing my containers.

I rolled my own simple fact gathering for my purposes.

* [molecule.yml](https://github.com/retr0h/ansible-etcd/blob/master/molecule.yml#L5-L7).
* [simple fact library](https://github.com/retr0h/ansible-etcd/blob/master/library/docker_facts.bash)

[2016-09-29 15:50] retr0h commented on #504
It should be noted the above "hack" cannot be accomplished with molecule any longer.  We no longer support the ability to provide your own Vagrantfile template.  Since the Vagrantfile is coupled so tightly with molecule, allowing one to provided their own would only cause issues, in the form of GH issues.

[2016-09-29 15:59] abrown-sg commented on #504
Is that true? It looks like you can still do it.

[code]

[2016-09-29 16:00] retr0h commented on #504
Yeah, I know the problem with this one.  This is due to the way in which the config is merged, and the decision to make `providers` a list vs a `dict`, so it could get properly merged.  This will require thought in general, and a known issue.  I'm not sure when we will address it.  Would be slated for fixup with #204.

I'm not entirely sure how I want to fix this issue in general.  The implementat

[2016-09-29 16:01] retr0h commented on #504
You know what, you're right.  However, it will be removed once #463 lands, since templates will be moved under [cookiecutter](http://cookiecutter.readthedocs.io/en/latest/) ownership.

[2016-09-29 16:06] retr0h commented on #509
I suppose we could add that.  FYI - `molecule init` is not synonymous to `ansible-galaxy init`, but we do have other empty scaffolding in there.

[2016-09-29 16:25] retr0h commented on #509
Actually, I'm going to close this issue out.  Writing out an template/ directory doesn't seem all that useful, especially when a role may or may not even use it.

If the user needs a templates dir they can create it, just as a user needs to create a files directory when dealing with non-templates.

[2016-09-29 16:25] #509 closed

[2016-09-29 21:00] lxhunter commented on #510
Thanks, will try that, but i am still curious on why the interfaces do not seem to be present at that time.

[2016-09-29 23:15] retr0h commented on #510
@lxhunter oh, it looks like the container needs to provide [iproute](https://github.com/ansible/ansible/blob/06d46a1ecc7b6726b0e2e7341409a7ab33b549a2/lib/ansible/module_utils/facts.py#L2241-L2245).

[2016-10-01 09:52] techraf opened #512 "Ansible Lint never runs / runs against wrong roles"
Situation
----
I have:

- "development" roles in: `~/molecule/`
- "production" roles in: `/usr/local/etc/ansible/roles/` (synchronised with Git)

My global `ansible.cfg` points to `/usr/local/etc/ansible/roles/` and Molecule (by design) maintains its own `.molecule/ansible.cfg` with: `roles_path      = .molecule/roles:.molecule/../roles:../:../../`.

Problem
----
During the verification phase, Mol

[2016-10-01 13:28] dj-wasabi opened #513 ""No command specified" when trying to test a role on Suse"
Hi,

I need to test a role on Suse and I get an error message when i do a `molecule create`:
[code]
My configuration:
_molecule.yml_
[code]

I've updated locally the file `driver/dockerdriver.py` by adding the following line (234):
[code]
So python and sudo are installed in the new molecule container, but don't know **yet** how to continue. Otherwise I would have created a pr.

[code]

Any idea?

[2016-10-01 17:37] retr0h commented on #513
Hi @dj-wasabi, the error is telling you to specify a command for the container to run.

Some containers are baked with a command to run when the container is executed, others are not.  The `opensuse` container you are using does not have a command so it exits.

Your molecule.yml should contain a command.
[code]

[2016-10-01 17:38] retr0h commented on #513
This is a valid bug, and would appreciate a PR.

[2016-10-01 17:40] retr0h commented on #512
I'll update molecule to handle this use case.

[2016-10-01 18:30] retr0h commented on #512
@techraf would you be able to test [this PR](https://github.com/metacloud/molecule/pull/514), and verify it works for your case?

[2016-10-03 16:06] atosatto opened #518 "Multiple Test Suites Support"
Test Kitchen allows to easily implement different test suites: http://kitchen.ci/docs/getting-started/adding-suite.
This feature is really cool because it allows to execute different tests on a fresh infrastructure.

Is there any plan to implement such feature in molecule?

PS: Molecule is really great! Thank you for what you're building! 😄

[2016-10-03 16:26] retr0h opened #519 "Scenario based testing"
Broke this issue out from #204.  This is the discussion on how to implement "scenario based testing", akin to test kitchen's scenarios.

[2016-10-03 16:27] retr0h commented on #518
Hi @atosatto - Yes, this is a key feature we would like to add.  Was hoping to implement as part of #204.  However, when time permits I might just implement this feature on it's own.

I am currently calling it scenario based testing.  However, is a bit tricky how to rework the config to handle this properly.  Test kitchen doesn't support multiple servers, so the syntax never needs to account for p

[2016-10-03 18:01] #512 closed

[2016-10-03 23:25] chrisb3ll opened #522 "Unable to use existing group_vars directory"
Hi

Please can someone help to explain the idea around utilising group_vars for isolated role testing.

I can see from https://github.com/metacloud/molecule/pull/421, the dynamic symlink was removed (or not used), and the suggestion is now to create a group_vars directory in the project root.

I'd rather not maintain symlinks/dir copies for each and every role or duplicate vars in the role specifi

[2016-10-03 23:38] retr0h commented on #522
Hi @chrisb3ll - @kireledan added group/host vars support (#202) through molecule.yml.  Since molecule, is intended to test roles in isolation, once can use the solution provided in #202.

[2016-10-04 00:53] retr0h commented on #278
Closing until @abrown-sg can pick it up.

[2016-10-04 00:53] #278 closed

[2016-10-04 00:55] retr0h commented on #410
I'm going to close this out.  We don't have an internal use case for this.  *If someone in the community wishes to implement it*, that is *great*.  However, having an issue open for this doesn't make sense, since nobody on the molecule is slated to work on it.

[2016-10-04 00:55] #410 closed

[2016-10-04 03:11] retr0h commented on #512
@techraf I released 1.11.5 to pypi with this functionality.

[2016-10-04 04:40] retr0h commented on #518
Closing in favor of #519.

[2016-10-04 04:40] #518 closed

[2016-10-04 05:47] #513 closed

[2016-10-04 09:43] chrisb3ll commented on #522
Thanks @retr0h - I understand now, I'll adjust my approach.

[2016-10-04 09:43] #522 closed

[2016-10-04 14:59] retr0h commented on #510
@lxhunter any luck?

[2016-10-04 15:58] rgreinho opened #527 "Idempotence command does not display the non-idempotent tasks"
The `molecule idempotence` command does not display the non idempotent tasks anymore. This forces the user to run `molecule converge` an extra time and manually look for the guilty tasks.

[code]

### Repro steps

[code]
Use the following playbook:
[code]
Then run:
[code]
Output:
[code]

[2016-10-04 19:35] lxhunter commented on #510
Works perfect!

[2016-10-04 21:04] retr0h commented on #510
🎸 🤘

[2016-10-04 21:04] #510 closed

[2016-10-04 21:30] retr0h opened #531 "Provider config merging"
The way in which we manage the config:
1. Defaults
2. User config
3. Project config

Is troublesome (as mentioned by @bbaassssiiee in https://github.com/metacloud/molecule/issues/504#issuecomment-250490236).

Our config merge strategy is [merge dicts](https://github.com/metacloud/molecule/blob/master/molecule/config.py#L30).  However, lists are not preserved.  This causes providers defined in the

[2016-10-04 21:52] #527 closed

[2016-10-04 22:33] retr0h commented on #531
Normally this would be fixed prior to releasing a new version of molecule.  However, this has been broken since inception, and is more of a design flaw vs a new bug.  Will correct this in a follow up on 1.12.

[2016-10-05 11:05] milosgajdos83 opened #535 "[question] Any chance to support docker for mac"
Default provisioner in `molecule` is `Vagrant`, however a lot of developers nowadays use `docker` for Mac, which runs `docker` daemon in a small virtual machine as oppose to more full blown `Vagrant` VM.

Some of our `Ansible` roles  merely spin `docker` containers like this:

[code]

I wonder if you have any plans to add support for `docker` for Mac or even better, we could do simply with "local"

[2016-10-05 15:16] retr0h commented on #535
@milosgajdos83 already exists, see the [example](http://molecule.readthedocs.io/en/stable-1.12/driver/index.html#usage).

[2016-10-05 20:28] retr0h commented on #531
I'm thinking of going with approach 5 above.

List all providers in the vagrant section, and create a top level `provider` key, like we do with `verifier` and `driver`.  This will be represented as a list, so the config merging will work.

Any extra options passed to the provider here will be merged into the appropriate provider in the `vagrant` section.

[2016-10-07 20:44] chrisb3ll opened #545 "Molecule login crash on iTerm2 resize window"
When using `moelcule login` to ssh into a test instance, any action to resize the shell window in iTerm2 results in the error below and exits the test instance.

Not a big deal, just a minor inconvenience.
Please let me know if there is anything I can do to help.

[code]

[2016-10-07 21:35] lxhunter commented on #545
+1

[2016-10-08 03:22] retr0h commented on #545
I know this is an issue, @abrown-sg brought this up a while back.  However, I cannot duplicate it.  Can you tell me what to do?  I have fired up an instance, logged in via `molecule login` and am resizing my iterm2 window.

[2016-10-08 06:38] lxhunter commented on #545
I will make a Video

[2016-10-08 07:28] retr0h commented on #545
Sweet 👌

[2016-10-08 08:05] lxhunter commented on #545
hey retr0h,

here it is: https://dl.dropboxusercontent.com/u/16675326/molecule_crash.mov

If you need to know more about my shell: https://github.com/lxhunter/dotfiles

otherwise shout ;)

Thanks!

[2016-10-08 22:48] retr0h commented on #545
hi @lxhunter the video doesn't really show how you resized the window.  Do you type a key combo?  When I drag the window with my mouse, I cannot reproduce.  Any additional info you have would be helpful.

[2016-10-08 23:16] lxhunter commented on #545
Hey John,

the "pill" on the lower right side lights up a little as I drag with the mouse. I can redo it tomorrow. I use iTerm 2 if that help.

Will look for further info.

Cheers

[2016-10-09 01:38] retr0h commented on #535
@milosgajdos83 closing.  Please reopen if we didn't address your question.

[2016-10-09 20:46] chrisb3ll commented on #545
Hi @retr0h - apologies, I just upgraded to 1.12.4 (from 1.11.4) and its fixed.

[2016-10-09 21:39] retr0h commented on #545
@chrisb3ll @lxhunter Looks like this was fixed inadvertently during a coverage test [PR](https://github.com/metacloud/molecule/commit/660edb7ce96737ac228bd6c29a40b209c9588a56#diff-ebeba8a0da2dabde2e254879dbb02a87L105).

[2016-10-10 12:59] aliusmiles opened #547 "molecule verify creates $HOME/.ansible/tmp/ in role's folder"
Since 1.11.5 introduced "Pass ANSIBLE_CONFIG when executing ansible-lint." `molecule verify` creates `$HOME/.ansible/tmp/` in role's folder on every run.

Running ansible linter directly as `ANSIBLE_CONFIG=.molecule/ansible.cfg /usr/local/bin/ansible-lint playbook.yml` does not create any folders.

I was able to fix this issue by modifying `molecule/verifier/ansible_lint.py` as follows:
[code]
But

[2016-10-10 13:08] lxhunter commented on #547
+1

[2016-10-10 13:58] moon-musick opened #548 "TypeError when run with docker in Ubuntu 14.04"
Hi,

I am a new molecule user. I am trying to run molecule with Docker. It seems I can get it to work properly with Vagrant without any issues.

I get the following traceback when running `molecule test` after `molecule init --driver docker` in an existing role directory:

[code]

The software version is as follows:

[code]

The user I run molecule with is in `docker` group, able to run docker stu

[2016-10-10 15:04] retr0h commented on #547
Thank you for the report @aliusmiles.  I'll get this fixed later today.  Your suggestion sounds like a proper fix.

[2016-10-10 15:06] retr0h commented on #548
I have seen this [once before](https://github.com/metacloud/molecule/issues/489).  I cannot tell you why it happens, but deleting your docker data dir should correct the issue.  Might have been an issue left behind when upgrading from an older version of docker.

[2016-10-10 15:11] moon-musick commented on #548
What do you mean by Docker data dir? Is it `/var/lib/docker`?

[2016-10-10 15:25] retr0h commented on #548
I'm not entirely sure where linux stores this directory.  Also, deleting the directory would require some thought.  It would remove all docker images you have downloaded or used.

You could also try removing all images through the CLI as well (`docker rmi $(docker images -q)`).

[2016-10-10 17:48] #547 closed

[2016-10-10 18:45] retr0h commented on #547
Molecule 1.12.5 was released to pypi with this fix.

[2016-10-10 18:46] retr0h commented on #545
@lxhunter can you confirm against 1.12 series?

[2016-10-10 19:20] vterdunov commented on #548
I got the same problem on Linux (Xubuntu 16.04). I've fixed it by delete docker data (`/var/lib/docker`). And reinstalled docker.

[2016-10-10 20:06] retr0h commented on #548
Did you have old images in there?  I'm curious why the Docker API returns images w/o a `RepoTags` attribute.

[2016-10-10 20:15] moon-musick commented on #548
It's 6.5 GB of locally built images in my case, and build process for some of those is quite CPU-intensive. I prefer not to delete all this if I don't really have to.

Is it perhaps possible to isolate this API component in some test script?

[2016-10-10 20:18] retr0h commented on #548
It's not a molecule problem, it's a Docker API issue.  It's not returning necessary data back.

[2016-10-10 20:22] moon-musick commented on #548
I guess it's either one of molecule's library dependencies (`docker-py`?) or docker engine itself which is at fault. Am I able to do something on my part which would help debug this issue?

[2016-10-10 20:29] retr0h commented on #548
You could try to see which image is reporting no `RepoTag`.

[code]

Then run the returned id through `docker images --no-trunc  | grep $id`

[2016-10-10 20:51] moon-musick commented on #548
It seems it was an image without a tag indeed, a custom Nginx build. I retagged the next build with the same tags. Your script helped a lot.

If I understand correctly, either molecule or some library dependency raises an uncaught exception if there is an image without a tag. If this works like that on purpose (e.g. because of a policy to fail early on wrong input / environment, if tags are someho

[2016-10-10 21:58] lxhunter commented on #545
confirmed! Thanks!!!

[2016-10-10 22:39] #545 closed

[2016-10-10 23:06] retr0h commented on #548
I'd like to understand how an image gets installed without a tag.  Is that a normal or out of the ordinary?  I've only run across this a couple of times, and it feels like the user created the image incorrectly, but I would like to know how one can upload an untagged image to trigger this bug.

[2016-10-10 23:10] retr0h commented on #548
I'd like to know how a system would get into this state.  I have a few images listed as none tag, yet I cannot trigger this bug.

The `images()` call returns only 5 images and ignores the others.

[code]

[2016-10-10 23:22] retr0h commented on #548
@moon-musick I would be interested to know if the [bug-548](https://github.com/metacloud/molecule/tree/bug-548) branch corrects the problem for you.  Is that something you could verify?

[2016-10-11 07:43] moon-musick commented on #548
I already deleted the apparently faulty image to check if it would help and it seems molecule runs docker containers properly now.

I tried creating some images without tags to test if I can still reproduce the issue, but I can't, even if I delete images and containers created by molecule, the `.molecule` folder in my role folder and re-init molecule.

The container in question had the `REPOSITORY

[2016-10-11 14:03] milosgajdos83 commented on #535
Hi, I'm sorry for late update. Unfortunately I was swamped doing some other work.

The example you mentioned in your comment is quite nice indeed, but it does not cover testing of the role that set up containers itself. Let me explain what I mean by that.

The example you posted shows how you can provision the docker containers **inside which** you can test your roles. This is pretty handy for rol

[2016-10-11 15:09] retr0h commented on #535
Let me think this over.

[2016-10-12 17:32] milosgajdos83 opened #551 "[question] Ansible changes in molecule 1.12 ?"
I'm wondering if there have been any significant changes regarding `Ansible` code in the latest release.

We started noticing a strange behaviour when restarting services i.e. regarding `service` Ansible core module when during `converge` phase `molecule` just hangs infinitely on service starts and restarts.

The role `YAML` we use for testing `zookeeper` can be found [here](https://gist.github.co

[2016-10-12 17:40] retr0h commented on #551
@milosgajdos83 I'll look into this.  However, molecule doesn't do anything with ansible internally.  It simply executes an `ansible-playbook` CLI command just as a user would.

[2016-10-12 18:03] milosgajdos83 commented on #551
Thanks!

I'm totally puzzled by this -- we will probably downgrade to older version of `molecule`, although we did upgrade ansible too:

[code]

Let me know if I can help out with anything .

[2016-10-12 18:13] retr0h commented on #551
Can you upload your role to github, the gist you provided is incomplete.

[2016-10-12 21:03] retr0h commented on #548
I'm going to close this since the initial state cannot be replicated.

[2016-10-12 21:03] #548 closed

[2016-10-12 23:05] milosgajdos83 commented on #551
I've updated the gist with all the files -- unfortunately can't stick it to my GH repos and will have to remove the gist at some point :-/

The whole role should now be there -- albeit sadly not in one simple repo.

[2016-10-12 23:09] retr0h commented on #551
What version did you upgrade to?  Obviously you were not using Ansible 1.9 since it doesn't work with docker.

[2016-10-12 23:12] milosgajdos83 commented on #551
We upgraded from `2.1.1.0` to `2.1.2.0`.

[2016-10-12 23:21] retr0h commented on #551
I get the following error with what you provided:

[code]

[2016-10-13 00:38] retr0h commented on #551
@milosgajdos83 the problem is with the zookeeper init script.  It is leaving stdout and/or stderr open which hangs ansible.

It can be reproduced by simply restarting the service and trying to exit the container.

[code]

I would suggest looking at the init script or using one of the existing zookeeper galaxy roles.

[2016-10-13 08:04] milosgajdos83 commented on #551
Maybe. I need to test your theory :-)

It doesn't explain why everything works fine when we are setting up the actual servers, though. It also doesn't explain why was this working perfectly fine on the previous version. Saying that, you might be totally correct. I'll give this a spin today. Thanks for looking into this, I'll report back.

M

[2016-10-13 10:51] milosgajdos83 commented on #551
Hi! Yes! I have reproduced the hanging exit from docker containers following your suggestion i.e. when I `docker exec` in the container and try to restart zk service I can't exit the container any more :-/

I tested the same test playbook using `vagrant` provider and everything works fine. So I'm thinking It might actually be related to `docker` on Mac. I need to investigate this.

[2016-10-13 11:18] milosgajdos83 commented on #488
So, I looked into this properly again. Instead of `docker` provider I used `vagrant` provider and tested the same Anisble [role](https://gist.github.com/milosgajdos83/326dc4f5b04c9ca6bcdbf3de8f507d3f).

When I run `molecule test` I can successfully reproduce the idempotence weirdness:

[code]

I have investigated the `guilty_line` by putting in some print statements to `idempotence.py` out of curi

[2016-10-13 14:07] milosgajdos83 commented on #488
Turns out, this has nothing to do with `molecule` but rather with `ansible` or the way our role behaves.

Strange thing to me is that **second** `converge` only `myid` file gets rendered -- all the other resources are idempotent.

On the **third** `converge` everything stays idempotent.

Very puzzling! Thanks for the help here -- no need to reopen the issue.

[2016-10-13 18:18] retr0h opened #554 "Idempotence edge case"
[code]

[2016-10-13 19:26] retr0h commented on #488
@milosgajdos83 I noticed the exact same thing when looking at the other issue (#551) you reported.  The first run has changes, the second run has additional changes to log dir and myid file, and the third run makes no changes.

I believe it is the order in which you are doing things.  Check it.  After the following our permissions should be correct on the data dir.  However, they are not.

[code]

[2016-10-14 16:04] adriano-di-giovanni opened #555 "molecule tests running as root"
If if print `ansible_user_id` from within a task of my ansible role I get `root` event if no `sudo: true` or `become: true` are present.

Can you tell me why, please?

[2016-10-14 16:06] retr0h commented on #555
Which driver are you using?

[2016-10-14 16:11] adriano-di-giovanni commented on #555
Vagrant. Please, find a [repo](https://github.com/adriano-di-giovanni/molecule-issue-555) to reproduce the behavior

[2016-10-14 16:19] retr0h commented on #555
Hi @adriano-di-giovanni.  If you run `molecule --debug convege` you will see the command executed.  We pass the `--sudo` flag to ansible-playbook.

[2016-10-14 16:32] adriano-di-giovanni commented on #555
If I understand what `molecule test --help` reports (please, read below), default behavior should be `--no-sudo`

I also tried to run `molecule --debug test --no-sudo` but `--sudo` option gets always passed to ansible-playbook.

[code]

[2016-10-14 16:50] retr0h commented on #555
The sudo flag reported there is for running tests (e.g. testinfra).  Has nothing to do with the inital converge which is always run with sudo.

[2016-10-14 16:51] adriano-di-giovanni commented on #555
So, no way to avoid sudoing. Right?

[2016-10-14 16:52] retr0h commented on #555
Right.

[2016-10-14 17:04] retr0h commented on #555
So, should we not run ansible with sudo, and require each task to sudo.  I kinda fliip flop on my thoughts with this.

The chef agent for example runs with privileges.  One is not required to think which tasks require additional privileges.

[2016-10-14 17:15] dhutty commented on #555
I’m tempted to say that we should not sudo (or ‘become’ as it should be these days), because that is not the Ansible default. And additionally, there’s always the possibility of including tasks from a separate file – if the include is privileged, so are all the subtasks.

On the other hand, this would like mean a lot of changes to ‘passing’ roles.

From: John Dewey [mailto:notifications@github.com

[2016-10-14 19:04] #554 closed

[2016-10-14 20:24] retr0h commented on #554
Released fix to pypi as 1.12.6.

[2016-10-14 20:35] retr0h commented on #551
Closing as not a direct issue of molecule.

[2016-10-14 20:35] #551 closed

[2016-10-14 22:09] retr0h commented on #555
Yeah, I'm going to leave as is, unless this becomes a problem with adopting molecule.

[2016-10-14 22:10] #555 closed

[2016-10-15 10:21] lxhunter opened #559 "Goss test fail does not fail molecule test"
Hey!

a failed goss does not seem to change molecule's exit code

#### Here is my test file (tests/test_default.yml):

[code]

#### Here is the output by travis:

![bildschirmfoto 2016-10-15 um 12 17 15](https://cloud.githubusercontent.com/assets/841856/19409311/7330e00c-92d1-11e6-9c30-fdff961909b7.png)

Do you have any idea why?

I totally love the goss support! Awesome!!!

[2016-10-15 10:24] lxhunter commented on #559
I can a build a testcase if you need

[2016-10-17 20:08] lxhunter commented on #559
Thanks!!! 👍🏻👍🏻👍🏻

[2016-10-17 20:11] #559 closed

[2016-10-17 20:12] retr0h commented on #559
Thanks as usual @lxhunter 🎸 🚬 👍

[2016-10-17 20:14] lxhunter commented on #559
Dude, you did everything.... thanks go out to you for this amazing software!!!

[2016-10-20 14:50] qrrock opened #564 "AttributeError: 'list' object has no attribute 'iteritems' Ubuntu 14.04"
Ubuntu 14.04
trying: molecule test
1. i got the same problem like https://github.com/metacloud/molecule/issues/548
2. cloned repo and checkouted to 548 them setup.py install
   no change
3. removed all images with <none> tag
   got:

Traceback (most recent call last):
  File "/usr/local/bin/molecule", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python2.7/dist-packages/molecule

[2016-10-20 15:10] retr0h commented on #564
This error is inside docker-py not molecule.  Have you made sure you are running the latest version of docker and docker-py?

[2016-10-20 16:44] qrrock commented on #564
upgraded docker-engine to last release; no change

% molecule --version                                                     ~
molecule, version 1.12.6
% docker -v                                                              ~
Docker version 1.12.2, build bb80604
% pip show docker-py                                                     ~
---
Metadata-Version: 2.0
Name: docker-py
Version: 1.10.4
Summ

[2016-10-20 16:49] qrrock commented on #564
i have reposted this also to here; https://github.com/docker/docker-py/issues/1270 ;may by you can suggest something;

[2016-10-20 17:49] retr0h commented on #564
Can I see your `molecule.yml`?  Is it possible to upload your role somewhere?

[2016-10-20 18:21] shin- commented on #564
`port_bindings` in `create_host_config` needs to be a `dict`, but the project is passing a `list`. We could add a guard that would raise a more explicit exception on our end, but that doesn't change the fact that the type of the parameter is invalid.

[Reference](http://docker-py.readthedocs.io/en/stable/port-bindings/)

HTH!

[2016-10-21 09:27] skitoo opened #565 "nverge"

[2016-10-21 09:27] #565 closed

[2016-10-22 18:05] retr0h commented on #250
Closing this one out.  We are not investigating this currently.

[2016-10-22 18:05] #250 closed

[2016-10-25 01:17] retr0h commented on #564
@qrrock have you sorted your issues?

[2016-10-25 09:55] qrrock commented on #564
nope. just postponed for some time later, i think the end of the week. i've tried also other solutions. i'm going to refactor, and then get back to you if this is ok

[2016-10-25 14:33] retr0h commented on #564
@qrrock can you paste me your molecule.yml file?

[2016-10-25 16:15] tknerr opened #571 "Support --skip-tags in addition to --tags"
Sometimes it's handy to run `molecule converge --tags "foo"` to converge only the roles / tasks with the given tag.

But now lets assume that a role tagged with "foo" depends on another role "heavystuff". In this case, running  `molecule converge --tags "foo"` also implies running "heavystuff" due to the role dependencies (which is good actually :)).

So if you don't want to run "heavystuff" but o

[2016-10-25 16:16] tknerr commented on #571
Btw I aslo tried `--tags "foo,!heavystuff"` but this seems to be not supported by ansible

[2016-10-25 19:40] retr0h commented on #571
@tknerr is this workflow something you want to occur every time you run molecule?  Each time you converge you wish to skip tags for a particular role your developing?

[2016-10-25 21:32] tknerr commented on #571
@retr0h nope this was more like a one-off use case where I was making changes in "foo" and didn't want to run all the "heavystuff" too... just to iterate a bit more quickly during development

[2016-10-25 23:43] #571 closed

[2016-10-26 06:28] tknerr commented on #571
Wow, that was fast. Thanks @retr0h !

[2016-10-26 07:32] tknerr opened #573 "Question: How to define per-instance tests in a multi-instance setup?"
Context: I'm currently having two instances (let's say "master" and "slave") and using the molecule testfinfra integration to test this.

Question: how can I specify which tests should be run for each instance?

Currently, molecue seems to simply run all tests against each instance upon `molecule verify`, but I haven't found a way to specify per-instance tests yet

[2016-10-26 07:38] tknerr commented on #573
I was thinking of something like this:

[code]

Haven't found a way to configure per-instance test directories in molecule though.

Also looked at the testinfra, but couldn't find a way how to "mark" a test so that it runs on a specific host only. Probably there is something like this...?